
<head>
  <title>Lớp học</title>
<!--  <div th:replace="fragments/init_lib :: header"></div>-->
</head>
<body>
<app-header></app-header>
<app-menu></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <!-- list-subject -->
            <div class="class-sectionTitle">
              <span>Chọn Đề Theo Trình Độ</span>
            </div>
            <div class="list-subject" *ngFor="let qs of qs">
              <ul >
                <li style="font-size: 30px;margin-bottom: 30px" [routerLink]="['/admin/lesson/edit',qs.id]" >Đề thi JLPT N5</li>
<!--                <li style="font-size: 30px;margin-bottom: 30px" [routerLink]="['/test/N4']">Đề thi JLPT N4</li>-->
<!--                <li style="font-size: 30px;margin-bottom: 30px" [routerLink]="['/test/N3']">Đề thi JLPT N3</li>-->
<!--                <li style="font-size: 30px;margin-bottom: 30px" [routerLink]="['/test/N2']">Đề thi JLPT N2</li>-->
<!--                <li style="font-size: 30px" [routerLink]="['/test/N1']">Đề thi JLPT N1</li>-->
              </ul>
            </div>

            <div class="class-sectionTitle">
              <span>Danh sách đề thi mới</span>
            </div>
            <div class="test-list" >
              <a th:each="item:${listExam}" th:href="@{/kiemtra/info(examId=${item.id})}">
                <div class="test-listItem">
                  <div class="img">
                    <img th:src="@{/image/subject/{image}(image=${item.getExam_subject().image})}" alt="">
                  </div>
                  <div class="content">

                    <h6 class="title">Mã đề thi: <span th:text="${item.codeExam}"></span> <br>
                      Môn học: <span th:text="${item.exam_subject.name}"></span> - <span th:text="${item.exam_classroom.classname}"></span></h6>
                    <span> Thời gian: <span th:text="${item.timeOut}"> </span> phút</span><br>
                    <p class="description" th:text="${item.title}">
                    </p>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
        <app-sidebar></app-sidebar>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
</body>

