<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName"></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <div class="class-sectionTitle">
              <span>Chọn Đề Theo Trình Độ</span>
            </div>
            <div class="list-subject">
              <ul >
                <li style="font-size: 30px;margin-bottom: 30px" [routerLink]="['/test/N5']" class="n5" >Đề thi JLPT N5</li>
                <li style="font-size: 30px;margin-bottom: 30px" [routerLink]="['/test/N4']" class="n4">Đề thi JLPT N4</li>
                <li style="font-size: 30px;margin-bottom: 30px" [routerLink]="['/test/N3']" class="n3">Đề thi JLPT N3</li>
                <li style="font-size: 30px;margin-bottom: 30px" [routerLink]="['/test/N2']" class="n2">Đề thi JLPT N2</li>
                <li style="font-size: 30px" [routerLink]="['/test/N1']" class="n1">Đề thi JLPT N1</li>

              </ul>
            </div>

            <div class="class-sectionTitle">
              <span>Danh sách đề thi mới</span>
            </div>
            <div class="test-list" >
              <a *ngFor="let ex of exam| paginate:{ itemsPerPage : 4, currentPage: p};">
                <div class="test-listItem">
                  <div class="img">
                    <img src="../../../../assets/image/jlpt.png" />
                  </div>
                  <div class="content"  (click)="detail(ex.id)" [routerLink]="['/N1/start-test']">
                    <b>   <span>Mã đề thi: <u>{{ex.codeExam}}</u> </span><br></b>
                    <b>  <span>Trình độ : <u>{{ex.level}}</u></span><br></b>
                    <b>   <span>Tên đề thi : <u>{{ex.content}}</u> </span><br> </b>
                    <b><span> Thời gian: <u>{{ex.timeOut}}</u>  phút</span><br></b>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
        <app-sidebar></app-sidebar>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
</body>

