<body style="width: 500px;margin-left: 500px;margin-top: 100px;">
<div class="col-md-12">
  <div id="card card-container">
    <form  class="form-signin" >
      <h1 class="mb-4" style="text-align: center"> Đăng kí</h1>
      <form *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
      >
        <input type="text"
               id="user"
               class="form-control"
               placeholder="Tên đăng nhập"
               name="username"
               [(ngModel)]="form.username"
               required
               minlength="3"
               maxlength="20"
               #username = "ngModel"/>
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Không được để trống tên đăng ký</div>
          <div *ngIf="username.errors.minlength">
            Tên đăng ký ít nhất 3 ký tự
          </div>
          <div *ngIf="username.errors.maxlength">
            Tên đăng ký tối đa 20 ký tự
          </div>
        </div>
        <input type="password"
               id="password"
               class="form-control"
               placeholder="Mật khẩu"
               [(ngModel)]="form.password"
               name="pass"
               autofocus=""
               required
               minlength="6"
               #password = "ngModel"/>
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Không được để trống mật khẩu</div>
          <div *ngIf="password.errors.minlength">
            Mật khẩu ít nhất  ký tự
          </div>
        </div>
        <input type="email"
               id="email"
               class="form-control"
               placeholder="Email"
               name="email" autofocus=""
               [(ngModel)]="form.email"
               required
               email
               #email = "ngModel">
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Không được để trống email</div>
          <div *ngIf="email.errors.email">
            Email phải đúng định dạng email
          </div>
        </div>
        <button id="btnSubmitRegister" class="btn btn-primary btn-block"
                type="submit"><i class="fa fa-user-plus"></i> Đăng ký</button>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Đăng ký thất bại!<br />{{ errorMessage }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Đăng ký thành công!
      </div>
      <p style="text-align:center">Hoặc</p>
      <div class="social-login">
        <button style="color: white; margin-left: 20px; background: blue" class="btn facebook-btn social-btn" type="button" ><a  ><i class="fa fa-facebook-f"></i> Đăng nhập Facebook</a> </button>
        <button style="color: white; margin-left: 50px; background: red" class="btn google-btn social-btn" type="button"><a><i class="fa fa-google-plus-official"></i> Đăng nhập Google+</a></button>
      </div>
      <a href="#" class="mt-2" id="cancel_signup"
         style="color: #005cbf" [routerLink]="['/login']"><i class="fa fa-angle-left"></i>
        Trở lại</a>
      <br>
    </form>
  </div>
</div>
</body>
