

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="choosegrammar.component.css">
</head>
<body>
<h2  style="color: #151414">  Mời bạn chọn bài học ngữ pháp. </h2>
<div class="container">
  <h2 style="color: #151414">Từ vựng bài</h2>
  <div class="hight">
    <button type="button" class="btn btn-primary">Bài 1</button>
    <button type="button" class="btn btn-danger">Bài 2</button>
    <button type="button" class="btn btn-success">Bài 3</button>
    <button type="button" class="btn btn-info">Bài 4</button>
    <button type="button" class="btn btn-warning">Bài 5</button>
  </div>
  <div class="hight">
    <button type="button" class="btn btn-primary">Bài 6</button>
    <button type="button" class="btn btn-danger">Bài 7</button>
    <button type="button" class="btn btn-success">Bài 8</button>
    <button type="button" class="btn btn-info">Bài 9</button>
    <button type="button" class="btn btn-warning">Bài 10</button>
  </div>
  <div class="hight">
    <button type="button" class="btn btn-primary">Bài 11</button>
    <button type="button" class="btn btn-danger">Bài 12</button>
    <button type="button" class="btn btn-success">Bài 13</button>
    <button type="button" class="btn btn-info">Bài 14</button>
    <button type="button" class="btn btn-warning">Bài 15</button>
  </div>
  <div class="hight">
    <button type="button" class="btn btn-primary">Bài 16</button>
    <button type="button" class="btn btn-danger">Bài 17</button>
    <button type="button" class="btn btn-success">Bài 18</button>
    <button type="button" class="btn btn-info">Bài 19</button>
    <button type="button" class="btn btn-warning">Bài 20</button>
  </div>
  <div class="hight">
    <button type="button" class="btn btn-primary">Bài 21</button>
    <button type="button" class="btn btn-danger">Bài 22</button>
    <button type="button" class="btn btn-success">Bài 23</button>
    <button type="button" class="btn btn-info">Bài 24</button>
    <button type="button" class="btn btn-warning">Bài 25</button>
  </div>
</div>
</body>
