
<head>
  <title>Cấp độ N4</title>
  <link rel="stylesheet" href="study-n4.component.css">
</head>
<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName"></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner4">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <!-- list-subject -->
            <div class="class-sectionTitle">
              <span>みんなの日本語第</span>
            </div>
            <div class="list-subject">
              <div class="wrapper3">
                <div class="item-wrap">
                  <a class="item1" [routerLink]="['/study/N4/tuvung']" hef="" id="tuvung"> <span class="label1">Phần 1: Từ vựng</span></a></div>
                <div class="item-wrap">
                  <a class="item1"  [routerLink]="['/study/N4/nguphap']"href="" id="nguphap"><span class="label1">Phần 2: Ngữ pháp </span></a></div>
                <div class="item-wrap">
                  <a class="item1" [routerLink]="['/study/N4/tuvung/ontap']" id="ontv"><span class="label1">Phần 3: ôn từ vựng</span> </a></div>
                <div class="item-wrap">
                  <a class="item1" [routerLink]="['/study/N4/nguphap/ontap']" id="onnp"><span class="label1">Phần 4: Ôn ngữ pháp</span></a></div>
              </div>
            </div>
          </div>
        </div>
        <app-sidebar-lesson></app-sidebar-lesson>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
</body>

