<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>Ôn tập từ vựng</title>
</head>
<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName" [role]="role"></app-menu>
<h1 align="center" style="color: #151414; font-size: x-large"> Ôn tập từ vựng bài 1</h1>
<div class="form" *ngFor="let review of qs; let i = index; let j = index" value="{{review}}">
  <input type="text" style="font-size: 30px" name="values" autocomplete="off" required
         (change)="selectAt(i,$event.target.value)"/>
  <label id="question" for="question" class="label-question">
    <!--      <span  class="content-question"  style="font-size: 20px; {{color}}" > {{i+1}}.{{review.content}}</span>-->
    <span class="content-question" style="font-size: 20px"> {{i + 1}}.{{review.content}}</span>
  </label>
</div>
<br><br>
<button class="btn btn-submit" style="color: white; background: green">
  <span class="submit" (click)="addResults(rs.id)"> KIỂM TRA KẾT QUẢ</span>
</button>
<app-footer></app-footer>
</body>
