<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
  <title>Thi Online</title>
  <div th:replace="fragments/init_lib :: header"></div>
  <meta charset="UTF-8">
  <title>Ôn tập từ vựng</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="reviewvocabulary.component.css">


</head>
<body>
<app-header></app-header>
<app-menu></app-menu>
<h1 align="center" style="color: #151414; font-size: x-large"> Ôn tập từ vựng bài 1</h1>
  <div class="form">
    <input type="text" style="font-size: 30px" name="question" autocomplete="off" required/>
    <label id="question" for="question" class="label-question" >
      <span class="content-question"  style="font-size: 20px" > 1. Học sinh </span>
    </label>
  </div>
  <div class="form">
    <input type="text" style="font-size: 30px" name="question" autocomplete="off" required/>
    <label id="question1" for="question1" class="label-question">
      <span class="content-question"  style="font-size: 20px" > 2. Giáo viên </span>
    </label>
  </div>
  <div class="form">
    <input type="text" style="font-size: 30px" name="question" autocomplete="off" required/>
    <label id="question2" for="question2" class="label-question">
      <span class="content-question"  style="font-size: 20px" > 3. 学校 </span>
    </label>
  </div>
  <div class="form">
    <input type="text" style="font-size: 30px" name="question" autocomplete="off" required/>
    <label id="question3" for="question3" class="label-question">
      <span class="content-question"  style="font-size: 20px" > 4. 医者 </span>
    </label>
  </div> <br><br>
  <button class="btn btn-submit" style="color: white; background: #B7242A">
    <span class="submit" > KIỂM TRA KẾT QUẢ</span>
  </button>

</body>
