
<head>
  <title>Ôn tập ngữ pháp N3</title>
</head>
<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName"></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner1">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <!-- list-subject -->
            <div class="class-sectionTitle">

              <span>みんなの日本語第</span>

            </div>
            <h1>Các bài ôn tập ngữ pháp:</h1>
            <tr *ngFor="let exs of ex; index as i">

              <td style="font-size: 15px; cursor:pointer;color: black;width: 550px" class="item1" [routerLink]="['/study/',exs.level,'nguphap','ontap',exs.codeExam, exs.id]">
                <span class="label1">Phần {{i+1}} : {{exs.content}}</span></td>
            </tr>

          </div>
        </div>
        <app-sidebar-lesson></app-sidebar-lesson>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
</body>






