
<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <app-sidebaradmin></app-sidebaradmin>
    <app-headeradmin></app-headeradmin>
    <div class="right_col" role="main">
      <div class="row border-bottom mb-3 ">
        <div class="col-md-12 d-flex justify-content-center mt-3">
          <h4>Chào mừng bạn đến với trang quản trị của hệ thống.</h4>
        </div>
      </div>

      <div class="" style="height: 100px">
        <div class="x_content">
          <div class="row">
            <div class="col-sm-6 ">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-users" style="font-size: 50px; position: relative; top:-10px"></i>
                </div>
                <h3>Thành viên</h3>
                <p>Số thành viên đã đăng ký trên hệ thống</p>
              </div>
            </div>
            <div class=" col-sm-6  ">
              <div class="tile-stats">
                <div class="icon">
                  <i class="fa fa-file-word-o" style="font-size: 50px; position: relative; top:-10px" ></i>
                </div>
                <h3>Bài học </h3>
                <p>Số bài học hiện có của hệ thống</p>
              </div>
            </div>
            <div class=" col-sm-6  ">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-newspaper-o" style="font-size: 50px; position: relative; top:-10px"></i>
                </div>
                <h3>Tin tức</h3>
                <p>Số tin tức đang có của hệ thống</p>
              </div>
            </div>
            <div class="col-sm-6  ">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-check-square-o" style="font-size: 50px; position: relative; top:-10px"></i>
                </div>
                <h3>Bài thi</h3>
                <p>Số bài thi đang có của hệ thống</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="x_content">
          <div class="row">
            <div class="col-sm-6  ">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-question-circle-o" style="font-size: 50px; position: relative; top:-10px"></i>
                </div>
                <h3>Câu hỏi</h3>
                <p>Số câu hỏi đang có trên hệ thống</p>
              </div>
            </div>
            <div class="col-sm-6  ">
              <div class="tile-stats">
                <div class="icon">
                  <i class="fa fa-file-text-o" style="font-size: 50px; position: relative; top:-10px"></i>
                </div>
                <h3>Học phần</h3>
                <p>Số học phần hiện có của hệ thống</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
