.cauhoi{
  width: 80px;
  height: 40px;
}
.table-borderless{
  width: 50px;
  position: relative;
  left: 50px;
  font-size: large;
}
.btn-submit{
  position: relative;
  left: 900px;
  font-size: xx-large;
}
.tablene {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.container1 {
  width: 60%;
  background: #bff1ec45;
  border: 3px solid #3d9da4;
  border-radius: 10px;
  margin: 25px auto;
  padding: 28px;
}
