<app-header></app-header>
<head>
  <title>Bài tập ngữ pháp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="reviewgrammar.component.css">

</head>

<body>
<div class="container1">
  <h1 align="center" style="color: #151414">Bài tập ngữ pháp bài 1</h1>
  <table class="tablene table-borderless" align="center">
    <tbody>
    <th class="cauhoi" colspan="4">　問１。りんご（　）４つ（　）買いました。</th>
    <tr>
      <td><input type="radio" name="op" checked> a. ✕、を </td>
      <td><input type="radio" name="op" checked> b. を、✕</td>
      <td><input type="radio" name="op" checked> c. ✕、✕</td>
      <td><input type="radio" name="op" checked> d. を、を</td>
    </tr>
    </tbody>
    <tbody>
    <th class="cauhoi" colspan="4">　問２。この会社（　）外国人（　）１０人ぐらい（　）います。</th>
    <tr>。
      <td><input type="radio" name="op1" checked> a.　に、が、✕</td>
      <td><input type="radio" name="op1" checked> b. で、が、✕</td>
      <td><input type="radio" name="op1" checked> c. が、に、で</td>
      <td><input type="radio" name="op1" checked> d. で、に、✕</td>
    </tr>
    </tbody>
    <th class="cauhoi" colspan="4">　問３。この手紙、エアメール　（　）お願います。</th>
    <tbody>
    <tr>
      <td><input type="radio" name="op2" checked> a. に</td>
      <td><input type="radio" name="op2" checked> b. で</td>
      <td><input type="radio" name="op2" checked> c. が</td>
      <td><input type="radio" name="op2" checked> d. は</td>
    </tr>
    </tbody>
  </table>
  <div align="center">
    <button  style="color: white; background: #B7242A;" >
      <span class="submit" style="size: A4"> KIỂM TRA KẾT QUẢ</span>
    </button></div> <br>
</div>
</body>

<app-footer></app-footer>
