
<link rel="stylesheet" href="menu.component.css">
<div >
  <div class="container">
    <nav class="menu d-none d-lg-block">
      <div class="row">
        <div class="col-md-8 col-12">
          <ul class="menu-left">
            <li><a [routerLink]="['/page-home']">Trang chủ</a></li>
            <li>
              <a style="cursor: pointer;">Học tập</a>
              <ul>
                <li   [routerLink]="['/study/N1']">N1</li>
                <li [routerLink]="['/study/N2']">N2</li>
                <li [routerLink]="['/study/N3']">N3</li>
                <li [routerLink]="['/study/N4']">N4</li>
                <li [routerLink]="['/study/N5']">N5</li>
                <li [routerLink]="['/study/alphabet']">Bảng Chữ Cái</li>
                <li [routerLink]="['/study/kanji']">Các Bộ Hán Tự Cơ Bản</li>

              </ul>
            </li>
            <li><a [routerLink]="['/page-test']">kiểm tra</a></li>
            <li><a [routerLink]="['/listchalenge']">Thách đấu</a></li>
            <li><a>Tin tức</a></li>
            <li><a [routerLink]="['/infor']">Giới thiệu</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-12">
          <div  class="menu-right">
            <div *ngIf="userNameDsp==null; else elseBlock">
              <div> <a class=" btn-login" id="link-login" [routerLink]="['/login']">ĐĂNG NHẬP </a></div>
            </div>

            <!--            <a class=" btn-login" id="link-login1" [routerLink]="['/login']">ĐĂNG NHẬP</a>-->
            <ng-template #elseBlock>
              <table >
                <thead>
                <tr style="border: 1px solid #f8f9fa;">
                  <th style="border: 1px solid #f8f9fa;"><div> <i  style="font-size: 20px">Xin chào: {{userNameDsp}} </i></div></th>
                  <th style="border: 1px solid #f8f9fa;" ><div class="dropdown" id="div-account" style="margin-left: 10px;font-size: 20px"  >
                    <a class="dropdown-toggle btn-login" id="dropdownMenuButton"
                       type="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user"></i>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >

                      <!--                  <a sec:authorize="hasAnyAuthority('ADMIN','MANAGER')" class="dropdown-item" id="adminManager" ><i class="fa fa-cogs"></i> Quản lí</a>-->
                      <a class="dropdown-item"  [routerLink]="['/profile/edit',id_user]" ><i class="fa fa-user-circle-o"></i> Thông tin</a>
                      <a class="dropdown-item" (click)="score()"><i class="fa fa-check-square-o"></i> Kết quả thi</a>
                      <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Đăng xuất</a>

                    </div>

                  </div></th>
                </tr>
                </thead>
              </table>
            </ng-template>

          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
