<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--  <title>Thêm user</title>-->
<!--  <div th:replace="admin/init_admin :: header"></div>-->
<!--</head>-->
<!--<body class="nav-md">-->
<!--<div class="container body">-->
<!--  <div class="main_container" >-->
<!--    <app-sidebaradmin></app-sidebaradmin>-->
<!--    <app-headeradmin></app-headeradmin>-->
<!--    <div class="right_col" role="main">-->
<!--      &lt;!&ndash; top tiles &ndash;&gt;-->
<!--      <div class="">-->
<!--        <div class="page-title">-->
<!--          <div class="title_left">-->
<!--            <h3> <small>Thêm mới User</small></h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="clearfix"></div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="x_title">-->
<!--              <div class="clearfix"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <br>-->
<!--          <form *ngIf="!isSuccessful"-->
<!--                name="form"-->
<!--                (ngSubmit)="f.form.valid && onSubmit()"-->
<!--                #f="ngForm"-->
<!--                novalidate class="col-md-12"  method="post" enctype="multipart/form-data">-->
<!--            <div class="col-md-8 border-right">-->
<!--              <div class="p-3">-->
<!--                <div class="d-flex justify-content-between align-items-center mb-3">-->
<!--                  <h4 class="text-right">Thông tin tài khoản</h4>-->
<!--                </div>-->
<!--                &lt;!&ndash;                <div class="bg-danger" id="error"&ndash;&gt;-->
<!--                &lt;!&ndash;                     th:if="${not #strings.isEmpty(error)}" th:text="${error}" style="color: white;padding: 10px">&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <div class="form-grouporm-group">-->
<!--                  <div class="">-->
<!--                    <label class="labels">Tên đăng nhập (viết liền không dấu và kí tự thường)</label>-->
<!--                    <input type="text" [(ngModel)]="us.username" required minlength="4"-->
<!--                           required maxlength="10"-->
<!--                     class="form-control"-->
<!--                            name="username" id="usernameUser"-->
<!--                               #username="ngModel">-->
<!--                    <div class="alert-danger" *ngIf="f.submitted && username.invalid">-->
<!--                      <div *ngIf="username.errors.required">Không được để trống tên đăng ký</div>-->
<!--                      <div *ngIf="username.errors.minlength">-->
<!--                        Tên đăng ký ít nhất 4 ký tự-->
<!--                      </div>-->
<!--                      <div *ngIf="username.errors.maxlength">-->
<!--                        Tên đăng ký tối đa 20 ký tự-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    <label class="labels">Họ và tên</label>-->
<!--                    <input type="text" [(ngModel)]="us.fullName" required minlength="8"-->
<!--                           required maxlength="20"-->
<!--                           #fullname="ngModel"-->
<!--                           class="form-control" name="fullname" id="fullnameUser">-->

<!--                    <div class="alert-danger" *ngIf="f.submitted && fullname.invalid">-->
<!--                      <div *ngIf="fullname.errors.required">Không được để trống họ và tên/div>-->
<!--                      <div *ngIf="fullname.errors.minlength">-->
<!--                        Tên đăng ký ít nhất 8 ký tự-->
<!--                      </div>-->
<!--                      <div *ngIf="fullname.errors.maxlength">-->
<!--                        Tên đăng ký tối đa 20 ký tự-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <div class="">-->
<!--                    <label class="labels">Email</label>-->
<!--                    <input type="email" [(ngModel)]="us.email"-->
<!--                           required-->
<!--                           email-->
<!--                           #email = "ngModel"-->
<!--                           placeholder="Ex. pat@example.com" class="form-control" name="email" id="emailUser">-->
<!--                    <div class="alert-danger" *ngIf="f.submitted && email.invalid">-->
<!--                      <div *ngIf="email.errors.required">Không được để trống email</div>-->
<!--                      <div *ngIf="email.errors.email">-->
<!--                        Email phải đúng định dạng email-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <label class="labels">Password</label>-->
<!--                    <input type="password"-->
<!--                           id="password"-->
<!--                           class="form-control"-->
<!--                           placeholder="Mật khẩu"-->
<!--                           [(ngModel)]="us.password"-->
<!--                           name="pass"-->
<!--                           autofocus=""-->
<!--                           required-->
<!--                           minlength="8"-->
<!--                           #password = "ngModel"/>-->
<!--                    <div class="alert-danger" *ngIf="f.submitted && password.invalid">-->
<!--                      <div *ngIf="password.errors.required">Không được để trống mật khẩu</div>-->
<!--                      <div *ngIf="password.errors.minlength">-->
<!--                        Mật khẩu ít nhất 8  ký tự-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <div class="col-md-6">-->
<!--                    <label class="labels">Số điện thoại</label>-->
<!--                    <input type="number" [(ngModel)]="us.phoneNumber" required minlength="10"-->
<!--                           required maxlength="10" class="form-control" name="phone" #phone="ngModel" id="phoneUser"  >-->
<!--                    <div class="alert-danger" *ngIf="f.submitted && phone.invalid">-->
<!--                      <div *ngIf="phone.errors.required">Không được để trống số điện thoại</div>-->
<!--                      <div *ngIf="phone.errors.minlength">-->
<!--                        Số điện thoại ít nhất 10 chữ số-->
<!--                      </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <div class="">-->
<!--                    <label class="labels">Giới tính</label>-->
<!--                    <select class="gt" name="gt"  #gt="ngModel" id="gtinh"[(ngModel)]="us.gender"  >-->
<!--                      <option value="Nam">Nam</option>`-->
<!--                      <option value="Nữ">Nữ</option>-->
<!--                    </select>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="row mt-2">-->

<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <div class="row mt-2">-->

<!--                  <button class="btn btn-success"    type="submit" id="btnAddUser">Thêm User</button>-->
<!--                  <a class="btn btn-danger" [routerLink]="['/admin/manage/user']">Hủy bỏ</a>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            </div>-->
<!--            </div>-->

<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; page content &ndash;&gt;-->
<!--  </div>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Thêm user</title>
  <div th:replace="admin/init_admin :: header"></div>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container" >
    <app-sidebaradmin [userNameDsp]="logName" ></app-sidebaradmin>    <app-headeradmin></app-headeradmin>
    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3> <small>Thêm mới User</small></h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
          </div>
          <br>
          <form [formGroup]="registerForm" novalidate class="col-md-12"  method="post" enctype="multipart/form-data">
            <div class="col-md-8 border-right">
              <div class="p-3">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Thông tin tài khoản</h4>
                </div>
                <!--                <div class="bg-danger" id="error"-->
                <!--                     th:if="${not #strings.isEmpty(error)}" th:text="${error}" style="color: white;padding: 10px">-->
                <!--                </div>-->
                <div >
                  <div class="">
                    <label class="labels">Tên đăng nhập (viết liền không dấu và kí tự thường)</label>
                    <input type="text" [(ngModel)]="us.username" formControlName="username" required minlength="4"
                           required maxlength="10"
                           class="form-control"
                           name="username" id="usernameUser"
                    />


                    <span class="error" *ngIf="username.invalid && username.touched">Không được để trống tên đăng ký</span>

                    <!--                      <span class="error" *ngIf="username.errors.minlength">Tên đăng nhập ít nhất 4 ký tự</span>-->
                    <!--                      <div *ngIf="username.errors.minlength">-->
                    <!--                        Tên đăng ký ít nhất 4 ký tự-->
                    <!--                      </div>-->
                    <!--                      <div *ngIf="username.errors.maxlength">-->
                    <!--                        Tên đăng ký tối đa 20 ký tự-->
                    <!--                      </div>-->
                  </div>

                  <div >
                    <label class="labels">Họ và tên</label>
                    <input type="text" [(ngModel)]="us.fullName"  class=" form-control "formControlName="fullname" />
                    <!--                           required maxlength="20"-->
                    <!--                           #fullname="ngModel"-->
                    <!--                           class="form-control" name="fullname" id="fullnameUser">-->


                    <span class="error" *ngIf="fullname.invalid && fullname.touched">Không được để trống họ và tên</span>
                    <!--                        <div *ngIf="fullname.errors.minlength">-->
                    <!--                          Tên đăng ký ít nhất 8 ký tự-->
                    <!--                        </div>-->
                    <!--                        <div *ngIf="fullname.errors.maxlength">-->
                    <!--                          Tên đăng ký tối đa 20 ký tự-->
                    <!--                        </div>-->


                  </div>
                  <div >
                    <div class="">
                      <label class="labels">Email</label>
                      <input type="email" [(ngModel)]="us.email" class=" form-control "formControlName="email"/>
                      <!--                             required-->
                      <!--                             email-->
                      <!--                             #email = "ngModel"-->
                      <!--                             placeholder="Ex. pat@example.com" class="form-control" name="email" id="emailUser">-->

                      <span class="error" *ngIf="email.invalid && email.touched"> email không đúng định dạng</span>
                      <!--                        <div *ngIf="email.errors.email">-->
                      <!--                          Email phải đúng định dạng email-->
                      <!--                        </div>-->
                    </div>
                  </div>
                </div>
                <label class="labels">Password</label>
                <input type="password"
                       id="password"
                       class=" form-control "formControlName="password"
                />

                <span class="error" *ngIf="password.invalid && password.touched"> không được để trống mật khẩu</span>
                <label class="labels">Số điện thoại</label>
                <input type="number" [(ngModel)]="us.phoneNumber"
                       class=" form-control "formControlName="phone" name="phone"  >
                <span class="error" *ngIf="phone.invalid && phone.touched">không được để trống số điện thoại</span>
                <!--                        <div *ngIf="phone.errors.minlength">-->
                <!--                          Số điện thoại ít nhất 10 chữ số-->
                <!--                        </div>-->
                <label class="labels">Giới tính</label>
                <select  class="gt" name="gt" id="gtinh" [(ngModel)]=us.gender class="form-control"formControlName="gt"   >
                  <option value="Nam">Nam</option>`
                  <option value="Nữ">Nữ</option>
                </select>
                <label class="labels">Quyền</label>
                <select  class="quyenn" name="quyenn" id="quyen" [(ngModel)]=us.role class="form-control"formControlName="quyenn"   >
                  <option value="1">User</option>`
                  <option value="2">Admin</option>
                </select>
                <span class="error" *ngIf="gt.invalid && gt.touched">không được để trống quyền</span>
                <div style="position: center">
                  <div class="row mt-2">

                    <button class="btn btn-success" (click)="onSubmit()" [disabled]="registerForm.invalid" type="submit" id="btnAddUser">Thêm User</button>
                    <a class="btn btn-danger" [routerLink]="['/admin/manage/user']">Hủy bỏ</a>
                  </div>

                </div>
              </div>
            </div>



            <div class="row mt-2">

            </div>

          </form>
        </div>
      </div>
    </div>



    <!-- page content -->
  </div>
</div>
</body>
</html>
