<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Thêm user</title>
  <div th:replace="admin/init_admin :: header"></div>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container" >
    <app-sidebaradmin></app-sidebaradmin>
    <app-headeradmin></app-headeradmin>
    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3> <small>Thêm mới User</small></h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
          </div>
          <br>
          <form  class="col-md-12"  method="post" enctype="multipart/form-data">
            <div class="col-md-8 border-right">
              <div class="p-3">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Thông tin tài khoản</h4>
                </div>
                <!--                <div class="bg-danger" id="error"-->
                <!--                     th:if="${not #strings.isEmpty(error)}" th:text="${error}" style="color: white;padding: 10px">-->
                <!--                </div>-->
                <div class="row mt-2">
                  <div class="col-md-6">
                    <label class="labels">Username (viết liền không dấu và kí tự thường)</label>
                    <input type="text" [(ngModel)]="us.username" class="form-control">
                    <!--                    <input type="text" [(ngModel)]="us.username" class="form-control" name="username" id="usernameUser" >-->
                    <span id="vld-username" class="span-vld hide">Username không được để trống.</span>
                  </div>
                  <div class="col-md-6">
                    <label class="labels">Fullname</label>
                    <input type="text" [(ngModel)]="us.username" class="form-control"  >
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6">
                    <label class="labels">Email</label>
                    <input type="text" [(ngModel)]="us.email" class="form-control"  >
                    <span id="vld-email" class="span-vld hide">Email không được để trống hoẵ sai định dạng.</span>
                  </div>
                  <div class="col-md-6">
                    <label class="labels">Password</label>
                    <input type="password" [(ngModel)]="us.password" class="form-control" >
                    <span id="vld-pass" class="span-vld hide">Password không được để trống.</span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6">
                    <label class="labels">Số điện thoại</label>
                    <input type="number" [(ngModel)]="us.phoneNumber" class="form-control"   >
                    <span id="vld-phone" class="span-vld hide">Số điện thoại sai định dạng.</span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6">
                    <label class="labels">Giới tính</label>
                    <select class="col-md-12 p-2" name="gt" id="gtinh"[(ngModel)]="us.gender"  >
                      <option value="Nam">Nam</option>
                      <option value="Nữ">Nữ</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6">
                    <label class="labels">Quyền</label>
                    <select  [(ngModel)]="us.role" name="role" id="role_id">
                      <option value="">Tùy chọn</option>
                      <option value="Admin">Admin</option>
                      <option value="User">User</option>
                      <option value="Manager">Manager</option>
                    </select>
                    <span id="vld-roleUser" class="span-vld hide">Vui lòng chọn quyền cho tài khoản.</span>
                  </div>
                </div>
                <div class="text-center mt-3">
                  <button class="btn btn-success" (click)="add()" type="submit" id="btnAddUser">Thêm User</button>
                  <a class="btn btn-danger" [routerLink]="['/admin/manage/user']">Hủy bỏ</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- page content -->
  </div>
</div>
</body>
</html>
