
<head>
  <title>Lớp học</title>
  <!--  <div th:replace="fragments/init_lib :: header"></div>-->
</head>
<body>
<app-header></app-header>
<app-menu></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner5">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <!-- list-subject -->
            <div class="class-sectionTitle">
              <span>みんなの日本語第</span>
            </div>
            <div class="list-subject">
              <ul >
               <a href="" ><li style="font-size: 25px;border: 1px groove #240a13;width: 700px;" [routerLink]="['/study/N5/bai']"  >Bai-01-はじめまして</li></a>
               <a href=""><li style="font-size: 25px;border-left: 1px groove #240a13;border-right: 1px groove #240a13;border-bottom: 1px groove #240a13;width: 700px;" >Bai-02-これからお世話になります</li></a>
                <a href=""> <li style="font-size: 25px;border-left: 1px groove #240a13;border-right: 1px groove #240a13;border-bottom: 1px groove #240a13;width: 700px;" >Bai-03-これをください</li></a>
                <a href=""> <li style="font-size: 25px;border-left: 1px groove #240a13;border-right: 1px groove #240a13;border-bottom: 1px groove #240a13;width: 700px;" >Bai-04-そちらは何時までですか</li></a>
                <a href=""> <li style="font-size: 25px;border-left: 1px groove #240a13;border-right: 1px groove #240a13;border-bottom: 1px groove #240a13;width: 700px;" >Bai-05-この電車は甲子園へ行きますか</li></a>
                <a href=""> <li style="font-size: 25px;border-left: 1px groove #240a13;border-right: 1px groove #240a13;border-bottom: 1px groove #240a13;width: 700px;" >Bai-06-いっしょに行きませんか</li></a>
                <a href=""> <li style="font-size: 25px;border-left: 1px groove #240a13;border-right: 1px groove #240a13;border-bottom: 1px groove #240a13;width: 700px;" >Bai-07-いらっしゃい</li></a>
                <a href=""> <li style="font-size: 25px;border-left: 1px groove #240a13;border-right: 1px groove #240a13;border-bottom: 1px groove #240a13;width: 700px;" >Bai-08-そろそろ失礼します</li></a>
                <a href=""> <li style="font-size: 25px;border-left: 1px groove #240a13;border-right: 1px groove #240a13;border-bottom: 1px groove #240a13;width: 700px;" >Bai-09-残念ですが</li></a>



              </ul>

            </div>


          </div>
        </div>
        <app-sidebar-lesson></app-sidebar-lesson>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
</body>

