
<head>
  <title>Danh sách câu hỏi</title>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <app-sidebaradmin [userNameDsp]="logName" ></app-sidebaradmin>
    <app-headeradmin></app-headeradmin>

    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Danh sách câu hỏi</h3>
            <div class="container">
              <table>
                <tbody>
                <tr>
                  <td> <h5>Mã đề: {{exam.codeExam}}</h5></td>
                  <td> <h5>Trình độ: {{exam.level}}</h5></td>
                </tr>
                <tr>
                  <td><h5>Thông tin: {{exam.title}}</h5></td>
                  <td><h5>Số câu hỏi hiện tại: {{coutQS}}/{{exam.totalQuestion}}</h5></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

        <div class="clearfix"></div>
        <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3" style="margin-top: 10px;">
              <div>
                <a [routerLink]="['/admin/exam/detail/',id]" class="btn btn-success"><i class="fa fa-plus"></i> Thêm câu hỏi</a>
              </div>
            </div>
        <div class="clearfix"></div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="sampleTable">
                  <thead>
                  <tr>
                    <th>STT</th>
                    <th>Nội dung câu hỏi</th>
                    <th>Đáp án A</th>
                    <th>Đáp án B</th>
                    <th>Đáp án C</th>
                    <th>Đáp án D</th>
                    <th>Đáp án Đúng</th>
                    <th>Tùy chọn</th>
                  </tr>
                  </thead>
                  <tbody >
                  <tr *ngFor="let qs of question| paginate:{itemsPerPage:8, currentPage:p};let i=index">
                    <td style="width: 100px">{{i+1}}</td>
                    <td>{{qs.content}}</td>
                    <td style="width: 150px">{{qs.ansA}}</td>
                    <td style="width: 150px">{{qs.ansB}}</td>
                    <td style="width: 150px">{{qs.ansC}}</td>
                    <td style="width: 150px">{{qs.ansD}}</td>
                    <td style="width: 150px">{{qs.ansCorrect}}</td>
                    <td  style="width: 100px">
                      <a title="Loại bỏ"><i  (click)="delete(qs.id) " class="fa fa-times btn btn-danger"></i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls previousLabel="Trước" nextLabel="Sau" (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

      </div>
    </div>
    <!-- page content -->
  </div>
</div>
<!-- Modal -->
</body>

