


<link rel="stylesheet" href="vocabulary.component.css"><title>Cùng học từ vựng</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<body>
<table>
  <thead>
  <th>
    <div class="container" style="width: 700px">
      <br>
      <h2 align="center" style="color: #151414">Từ vựng Minano bài 1</h2>
      <br>
      <table class="table">
        <thead>
        <tr class="alert-warning">
          <th> Từ Vựng</th>
          <th> Hán Tự</th>
          <th> Âm Hán</th>
          <th> Nghĩa</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary">
          <td>わたし</td>
          <td> </td>
          <td> </td>
          <td>Tôi</td>
        </tr>
        <tr class="table-success">
          <td>わたしたち</td>
          <td> </td>
          <td> </td>
          <td>Chúng ta, Chúng tôi</td>
        </tr>
        <tr class="table-danger">
          <td>あなた</td>
          <td> </td>
          <td> </td>
          <td>Bạn</td>
        </tr>
        <tr class="table-info">
          <td>あのひと</td>
          <td>あの人</td>
          <td>Nhân</td>
          <td>Người kia</td>
        </tr>
        <tr class="table-warning">
          <td>あのかた</td>
          <td>あの方</td>
          <td> Phương</td>
          <td>Vị kia</td>
        </tr>
        <tr class="table-primary">
          <td>みなさん</td>
          <td>皆さん</td>
          <td>Giai</td>
          <td>Các bạn, Mọi người</td>
        </tr>
        <tr class="table-success">
          <td>せんせい</td>
          <td>先生</td>
          <td>Tiên Sinh</td>
          <td>Thầy cô</td>
        </tr>
        <tr class="table-danger">
          <td>きょうし</td>
          <td>教師</td>
          <td>Giáo Sư</td>
          <td>Giáo viên</td>
        </tr>
        <tr class="table-info">
          <td>がくせい</td>
          <td>学生</td>
          <td>Học Sinh</td>
          <td>Học sinh</td>
        </tr>
        </tbody>
      </table>
    </div>
  </th>
  <th>
    <div class="container">
      <h4 style="color: #151414; text-align: center">Mời bạn chọn bài từ vựng</h4>
      <div class="hight">
        <button type="button" class="btn1 btn-primary">Bài 1</button>
        <button type="button" class="btn1 btn-danger">Bài 2</button>
        <button type="button" class="btn1 btn-success">Bài 3</button>
        <button type="button" class="btn1 btn-info">Bài 4</button>
      </div>
      <div class="hight">
        <button type="button" class="btn1 btn-primary">Bài 5</button>
        <button type="button" class="btn1 btn-danger">Bài 6</button>
        <button type="button" class="btn1 btn-success">Bài 7</button>
        <button type="button" class="btn1 btn-info">Bài 8</button>

      </div>
      <div class="hight">
        <button type="button" class="btn1 btn-primary">Bài 9</button>
        <button type="button" class="btn1 btn-danger">Bài 10</button>
        <button type="button" class="btn1 btn-success">Bài 11</button>
        <button type="button" class="btn1 btn-info">Bài 12</button>
      </div>
      <div class="hight">
        <button type="button" class="btn1 btn-primary">Bài 13</button>
        <button type="button" class="btn1 btn-danger">Bài 14</button>
        <button type="button" class="btn1 btn-success">Bài 15</button>
        <button type="button" class="btn1 btn-info">Bài 16</button>
      </div>
      <div class="hight">
        <button type="button" class="btn1 btn-primary">Bài 17</button>
        <button type="button" class="btn1 btn-danger">Bài 18</button>
        <button type="button" class="btn1 btn-success">Bài 19</button>
        <button type="button" class="btn1 btn-info">Bài 20</button>

      </div>
      <div class="hight">
        <button type="button" class="btn1 btn-primary">Bài 21</button>
        <button type="button" class="btn1 btn-danger">Bài 22</button>
        <button type="button" class="btn1 btn-success">Bài 23</button>
        <button type="button" class="btn1 btn-info">Bài 24</button>
      </div>
      <div class="hight">
        <button type="button" class="btn1 btn-primary">Bài 25</button>
      </div>
    </div>
  </th>
  </thead>
</table>
</body>

