
<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName"></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner10">
    </div>
    <!-- class content-->
<!--        <form (ngSubmit)="onSubmint()">-->
    <section class="class-content" >
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left"  >
            <div class="class-sectionTitle">
              <span>TẠO PHÒNG THI ĐẤU</span>
            </div>
            <div>
              <div class="container">
                <table class="tablecreate" style="font-size: 15px; margin-top: 20px;">
                  <tr>
                    <th style="text-align: left">Chọn trình độ thi đấu</th>
                  </tr>
                  <tbody>
                    <tr>
                    <td><div class="form-check-inline">
                      <label class="form-check-label" >
                        <input  value="N5" [(ngModel)]="cl.level" type="radio" class="form-check-input" name="optradio">N5
                      </label>
                    </div>
                      <div class="form-check-inline">
                        <label class="form-check-label" >
                          <input  value="N4" [(ngModel)]="cl.level"  type="radio" class="form-check-input" name="optradio">N4&nbsp;
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label" >
                          <input  value="N3" [(ngModel)]="cl.level" type="radio" class="form-check-input" name="optradio">N3&nbsp;
                        </label>
                      </div>
                      <div class="form-check-inline" >
                        <label class="form-check-label">
                          <input   value="N2" [(ngModel)]="cl.level"  type="radio" class="form-check-input" name="optradio">N2&nbsp;
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label" >
                          <input value="N1" [(ngModel)]="cl.level" type="radio" class="form-check-input" name="optradio">N1&nbsp;
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th >Thời gian thi đấu</th>
                  </tr>
                  <tr>
                    <th>
                        <select [(ngModel)]="cl.time" class="form-control" name="classID" id="classid">
                          <option value="5" >5 Phút</option>
                          <option value="10" >10 Phút</option>
                          <option value="15" >15 Phút</option>
                        </select>
                    </th>
                  </tr>
                  <tr>
                    <th> <label for="usr">Tên Phòng:</label></th>
                  </tr>
                  <tr>
                    <td>  <input [(ngModel)]="cl.room_name" type="text" class="form-control"   id="usr">
                    <span style="color: red" *ngIf="!checkroom"></span></td>
                  </tr>
                  <tr>
                    <th> <label for="pwd">Mật Khẩu:</label></th>
                  </tr>
                  <tr>
                    <td>  <input [(ngModel)]="cl.pass" type="password"   class="form-control" id="pwd" placeholder="Có thể tạo mật khẩu hoặc không"></td>
                  </tr>
                  <th>
<!--                    <input type="hidden" [(ngModel)]="cl.room_id" id="userCreate" name="user_create">-->
                    <br><button (click)="add(cl.room_id )" type="button" class="btn btn-success" style="margin-left: 33%;">Tạo Phòng</button>
                    <button type="button" class="btn btn-danger" [routerLink]="['/listchalenge']" style="margin-left: 20px;">Thoát </button>
                  </th>
                  </tbody>
                </table>

              </div>

            </div>
          </div>
        </div>
        <app-sidebar></app-sidebar>
      </div>
    </section>
<!--        </form>-->
  </div>

</main>
<app-footer></app-footer>
</body>

