
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Thêm đề thi</title>
  <div th:replace="admin/init_admin :: header"></div>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <app-sidebaradmin></app-sidebaradmin>
    <app-headeradmin></app-headeradmin>

    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h2> Thêm mới đề thi</h2>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
          </div>
          <br>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form [formGroup]="AddForm"  method="post">
              <div class="p-3">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Thông tin đề thi</h4>
                </div>

                <div class="row mt-2">
                  <div class="col-md-12 col-sm-12">
                    <label class="labels">Tiêu đề </label>
                    <input [(ngModel)]="ex.title" formControlName="tieude" type="text" class="form-control" name="title" id="titleExam">
                    <span class="error" *ngIf="tieude.invalid && tieude.touched">Tiêu đề bài thi không được để trống </span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 col-sm-12">
                    <label class="labels">Mã Đề Thi</label>
                    <input [(ngModel)]="ex.codeExam" formControlName="made" type="text" class="form-control" name="title" id="idExam">
                    <span class="error" *ngIf="made.invalid && made.touched">Tiêu đề bài thi không được để trống </span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6 col-sm-12 ">
                    <label>Loại đề thi</label>
                    <select   [(ngModel)]="ex.term" class="form-control"formControlName="loaide"  name="classId" id="classId">
                      <option value="">Tùy chọn</option>
                      <option value="Từ vựng">Từ vựng</option>
                      <option value="Ngữ pháp">Ngữ pháp</option>
                      <option value="Ngữ pháp">Đề JPLT</option>
                      <option value="Ngữ pháp">Đề Thử Thách Cùng Nhau</option>
                    </select>
                    <span class="error" *ngIf="loaide.invalid && loaide.touched">Vui lòng chọn môn học.</span>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label>Trình độ</label>

                    <span id="vld-classId" class="span-vld hide">Vui lòng chọn trình độ.</span>
                    <select [(ngModel)]="ex.level" formControlName="trinhdo" class="form-control" name="level" id="level">
                      <option value="">Tùy chọn</option>
                      <option value="N1">N1</option>
                      <option value="N2">N2</option>
                      <option value="N3">N3</option>
                      <option value="N4">N4</option>
                      <option value="N5">N5</option>
                    </select>
                    <span class="error" *ngIf="trinhdo.invalid && trinhdo.touched">Vui lòng chọn trình độ.</span>

                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6 col-sm-12">
                    <label class="labels">Số câu hỏi</label>
                    <input [(ngModel)]="ex.totalQuestion"  Minlength="2" formControlName="socauhoi"type="number" class="form-control" name="totalQuestion" id="totalQuestionExam"  >
                    <span  class="error" *ngIf="socauhoi.invalid && socauhoi.touched">Số câu hỏi không được để trống </span>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label class="labels">Thời gian (phút)</label>
                    <input [(ngModel)]="ex.timeOut" type="number" formControlName="thoigian"class="form-control" name="timeOut" id="timeoutExam" >
                    <span class="error" *ngIf="thoigian.invalid && thoigian.touched">Thời gian bài thi không được để trống </span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 col-sm-12">
                    <label class="labels">Nội dung</label>
                    <textarea [(ngModel)]="ex.content" formControlName="noidung"type="text" class="form-control" name="content" id="contentExam" cols="7" rows="5"></textarea>
                    <span class="error" *ngIf="noidung.invalid && noidung.touched">Nội dung bài thi không được để trống </span>

                  </div>
                </div>
                <div class="text-center mt-3">
                  <button class="btn btn-success" (click)="add()" [disabled]="AddForm.invalid" type="submit" id="btnAddExam">Thêm đề thi</button>
                  <a class="btn btn-danger" [routerLink]="['/admin/exam']">Bỏ qua</a>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
    <!-- page content -->
  </div>
</div>
<div th:replace="admin/footer :: content"></div>
<div th:replace="admin/init_admin :: script"></div>
<script>
  $(document).ready(function () {
    $('#examManager').addClass("active");
  });

</script>
</body>
</html>
