
.main-container {
  background-color: #29659452;
  height: 800px;
  width: 70%;
  border: solid;
  border-color: black;
  border-radius: 15px;
}

.navbar-default {
  height: 80px;
  background: maroon;
  text-align: center;
  color: white;
}

.questionArea {
  background-color: #ece0ffad;
  width: 600px;
  height: 200px;
  margin-bottom: 10px;
  border: 3px;
  border-style: solid;
  border-color: orange;
  margin-top: 20px;
  position: relative;
  left: 33px;
  text-align: center;
  font-size: 32px;
  line-height: 200px;
  word-wrap: break-word;
}

.timerArea {
  text-align: center;
  background-color: grey;
  width: 350px;
  height: 50px;
  border: 3px;
  border-style: solid;
  border-color: orange;
  position: relative;
  left: 158px;
  margin-bottom: 10px;

}
.startButton:hover {
  background-color: yellow;
}

.startButton {
  text-align: center;
  line-height: 80px;
  background-color: violet;
  width: 350px;
  height: 50px;
  border: 3px;
  border-style: solid;
  border-color: orange;
  position: relative;
  left: 25px;
  bottom: 5px;

}

#wins {
  width: 120px;
  height: 50px;
  background-color: grey;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  right: 40px;
}
#winne{
  width: 120px;
  height: 50px;
  background-color: grey;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  right: 40px;
}

#losses {
  width: 120px;
  height: 50px;
  background-color: grey;
  position: relative;
  left: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
}

.answerArea {
  position: relative;
  top: 5px;
  left: 147px;
  font-size: 24px;
}

.answerBlock:hover {
  background-color: yellow;
}

.answerBlock {
  background-color: lightgreen;
  width: 400px;
  height: 50px;
  margin-bottom: 10px;
  border: 3px;
  border-style: solid;
  border-color: orange;
  margin-top: 10px;
}
#ct_th {
  background: linear-gradient(white,#2fad4b);
}
#ct_trh {
  /*background: url(/Image/trh.png) top center #fff no-repeat;*/
  background: linear-gradient(white,#2fad4b)
}
.box-grade {
  border-radius: 10px;
  min-height: 100px;
  margin-top: 20px;
}
/*body {*/
/*    background: #fff;*/
/*    color: 333;*/
/*}*/

@media all and (max-width: 320px) {
  body {
    background: #e7e7e7;
  }
}

.container1 {
  width: 80%;
  background: #bff1ec;
  border: 3px solid #3d9da4;
  border-radius: 10px;
  margin: 25px auto;
  padding: 28px;
}
.banner {
  background: transparent;
  margin: 20px auto 0px;
  padding: 0px;
  max-width: 1020px;
  width: 100%;
  z-index: 1;
  position: relative;
}
.box-grade .txt-white {
  padding-left: 15px;
}
.box-grade h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.container h2 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 30px 0;
}
.txt-white {
  color: navy;
}
h1, h2, h3, h4 {
  margin: 10px 0;
  font-family: Roboto-Bold;
  font-weight: 400;
}
*, ::after, ::before {
  box-sizing: border-box;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#init-room-page {
  font-family: roboto;
}

#init-room-page .ctr-ir-box {
  background-color: #bff1ec;
  border: 3px solid #3d9da4;
  border-radius: 10px;
  margin: 25px auto auto;
  padding: 28px;
  position: relative;
  width: 1180px;
}
.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.questionArea2 {
  background-color: #e9e7df;
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  border: 3px;
  border-style: solid;
  border-color: orange;
  margin-top: 20px;
  position: relative;
  /*left: 120px;*/
  text-align: left;
  font-size: 32px;
  line-height: 200px;
  word-wrap: break-word;
}
.table1 {
  width: 100%;
  margin-bottom: 20px;
}
.table1> thead > tr > th,
.table1 > tbody > tr > th,
.table1 > tfoot > tr > th,
.table1 > thead > tr > td,
.table1 > tbody > tr > td,
.table1 > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  /*border-top: 1px solid #ddd;*/
}
.table1 > thead > tr > th {
  vertical-align: bottom;
  /*border-bottom: 2px solid #ddd;*/
}
