<div class="class-sectionTitle1 test">
  <span>Bảng Xếp Hạng Điểm</span>
</div>
<div style="margin-top: 30px">
  <ul>
    <li >
      <a *ngFor="let us of userScore , let q= index" >
        <div class="test-listItem" style="margin-left: -30px; width: 97%;">
          <div class="content">
            <h5><span > {{us[0]}} đã đạt được  {{us[1]}} xếp hạng thứ {{q+1}}  </span></h5>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
<div class="card mt-5">
  <div class="card-body">
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    <div class="justify-content-md-center">
      <p style="font-size: 16px">
        Câu trả lời đúng là {{ correctAnswers }} trong {{ questions.length }} đáp án!!
      </p>
      <p *ngIf="finalPercentage <= 50" style="font-size: 16px">Chưa tốt lắm, Cố gắng lần sau nhé!!</p>
      <p *ngIf="finalPercentage > 50 && finalPercentage <= 75" style="font-size: 16px" >Có thể làm tốt hơn</p>
      <p *ngIf="finalPercentage > 75" style="font-size: 16px">Bạn đã làm rất tốt!</p>
      <a
        class="btn btn-block btn-info cursor-restriction"
        style="margin-top: 24px"
    (click)="reload();"
        >
        Trở Lại!
      </a>
    </div>
  </div>
</div>
