
<head>
  <title>Đề luyện thi N2</title>
  <!--  <div th:replace="fragments/init_lib :: header"></div>-->
</head>
<body>
<app-header></app-header>
<app-menu  [userNameDsp]="logName" [role]="role" ></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <!-- list-subject -->
            <div class="class-sectionTitle">
              <span>Danh sách đề thi thử JLPT N2</span>
            </div>

            <div class="test-list"*ngFor="let ex of exam" >
              <a th:each="item:${listExam}" th:href="@{/kiemtra/info(examId=${item.id})}">
                <div class="test-listItem">
                  <div class="img">


                    <img src="../../../../assets/image/exam/ezgif.com-gif-maker.png" height="200" width="200"/></div>
                  <div class="content"(click)="detail(ex.id)" [routerLink]="['/N2/start-test']">
                    <b>   <span>Mã đề thi: <u>{{ex.codeExam}}</u> </span><br></b>
                    <b>  <span>Trình độ : <u>{{ex.level}}</u></span><br></b>
                    <b>   <span>Tên đề thi : <u>{{ex.content}}</u> </span><br> </b>
                    <b><span> Thời gian: <u>{{ex.timeOut}}</u>  phút</span><br></b>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
        <app-sidebar></app-sidebar>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
</body>

