<form style="background-color: #0e94a2" >
  <div>
    <mat-icon (click)="closedDialog()" id="clode-icon" style="position: center"><button>X</button></mat-icon>
    <span class="content-span full-width" style="color: #0a0a0a" >{{data.message}}</span>
    <br>
  </div>
  <div > <th><button mat-flat-button id="no-button" style="width: 250px;height: 50px;
  background-color: #DA8028;"[mat-dialog-close]="false" >NO</button></th>
    <th>  <button mat-flat-button id="yes-button" style="background-color: #b6bece; height: 50px;
  width: 250px;
  color: white;
  border-radius: 0px;" (click)="dialogRef" [mat-dialog-close]="true" >YES</button></th></div>
</form>
