<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
  <title>Kết quả thi</title>
  <div th:replace="fragments/init_lib :: header"></div>
  <link rel="stylesheet" th:href="@{/css/main2.css}"/>



</head>

<body>
<app-header></app-header>
<app-menu></app-menu>
<!--<div th:replace="fragments/header :: content"></div>-->
<!--<div th:replace="fragments/menu :: content"></div>-->
<main class="home">
  <div class="container">
    <div class="infomation-exam">
    </div>
  </div>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <div class="container exam-test history-test">
    <section class="container">
      <h1 class="big-title">Kết quả</h1>
      <div class="content content-infor row">
        <div class="col-12 col-md-6">
          <div class="content-ans row">
            <div class="col-4">
              <p><span> Số điểm:</span><b></b></p>
            </div>
            <div class="col-8" th:text="${resultData.score}"></div>
          </div>
          <div class="content-ans row">
            <div class="col-4">Kết quả làm bài:</div>
            <div class="col-8 result-test-data"></div>
          </div>
          <div class="content-ans row">
            <div class="col-4">Thời gian làm bài : 180 Phút</div>
            <div class="col-8" >{{ex.timeOut}}</div>
          </div>
          <div class="content-ans row">
            <div class="col-4">Bài thi</div>
            <div class="col-8" th:text="${exam.title}"></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="content-ans row">
            <div class="col-4">Màu xanh</div>
            <div class="col-8" style="color: #28a745">Câu trả lời đúng</div>
          </div>
          <div class="content-ans row">
            <div class="col-4">Màu đỏ</div>
            <div class="col-8" style="color: #dc3545">Câu trả lời sai</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
<div th:replace="fragments/footer :: content"></div>
<div th:replace="fragments/init_lib :: script"></div>
<script src="../../../../assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script>
  var result_detail = [[${resultDetail}]];
  var exam_id = [[${examId}]];
  var test_id = [[${testId}]];
  var exam_data = '[[${dataExam}]]';
  var _dataJson = JSON.parse(exam_data.replace(/&quot;/g,'"'));
  var timeOut= [[${timeOut}]];

</script>
<script type="text/javascript" th:src="@{/js/history.js}"></script>
<script src="../../../../assets/js/history.js"></script>
</body>
</html>
