<head>
  <title>Thêm câu hỏi vào đề</title>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <app-sidebaradmin [userNameDsp]="logName" ></app-sidebaradmin>
    <app-headeradmin></app-headeradmin>

    <div class="right_col" role="main">
      <!-- top tiles -->
        <div class="page-title">
          <div class="title_left">
            <h3>Thêm mới câu hỏi cho đề thi</h3>
            <div class="container">
              <table >
                <tbody>
                <tr >
                  <td style="border: 1px none  #fffafc  ;text-align: left!important;width:370px"> <h5>Mã đề: {{exam.codeExam}}</h5></td>
                  <td style="border: 1px none  #fffafc ;text-align: left!important; "> <h5>Trình độ: {{exam.level}}</h5></td>
                </tr>
                <tr >
                  <td style="border: 1px none   #fffafc; text-align: left!important;"><h5>Thông tin: {{exam.title}}</h5></td>
                  <td style="border: 1px none  #fffafc ;"><h5>Số câu hỏi hiện tại: {{coutQS}}/{{exam.totalQuestion}}</h5></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="clearfix"></div>
        <div class="row alert alert-danger" id="errorProcess" style="color: white; display: none;"></div>
        <div class="row">
          <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
            <label>Học Phần</label>
            <select [(ngModel)]="hocphan" class="form-control" name="subjectId">
              <option value="">Tùy chọn</option>
              <option value="Từ Vựng">Từ vựng</option>
              <option value="Ngữ Pháp">Ngữ pháp</option>
              <option value="Đề JLPT">Đề JLPT</option>
              <option value="Thử Thách">Đề Thử Thách </option>
            </select>
          </div>
          <div class="col-md-12" style="margin-top: 10px">
            <div class="tile-body">
              <div >
                <table class="table table-bordered" id="sampleTable">
                  <thead>
                  <tr >
                    <th>STT</th>
                    <th>Nội dung câu hỏi</th>
                    <th>Đáp án A</th>
                    <th>Đáp án B</th>
                    <th>Đáp án C</th>
                    <th>Đáp án D</th>
                    <th>Đáp án Đúng</th>
                    <th  style="width: 100px;">Tùy chọn</th>
                  </tr>
                  </thead>
                  <tbody >
                  <tr *ngFor="let qs of question| filter:hocphan| filter: trinhdo| paginate:{itemsPerPage:20, currentPage:p};let i=index">
                    <td>{{i+1}}</td>
                    <td style="width: 600px;text-align: left!important">{{qs.content}}</td>
                    <td style="width: 130px;">{{qs.ansA}}</td>
                    <td style="width: 130px;">{{qs.ansB}}</td>
                    <td style="width: 130px;">{{qs.ansC}}</td>
                    <td style="width: 130px;">{{qs.ansD}}</td>
                    <td style="width: 130px;">{{qs.ansCorrect}}</td>
                    <td>
                      <div *ngIf="setCB[i]==false" class="pretty p-icon p-curve  p-pulse" >
                        <input  #saveUserNameCheckBox
                               id="CheckBox"
                               type="checkbox" (change)="selectAt(i,saveUserNameCheckBox.checked)" (click)="selectAtQS(qs.id)" />
                        <div class="state p-success">
                          <i class="icon fa fa-check" aria-hidden="true"></i>
                          <label style="margin-left: -200px;"></label>
                        </div>
                      </div>
                      <div *ngIf="setCB[i]==true" class="pretty p-icon p-curve  p-pulse" >
                        <input  #saveUserNameCheckBox checked
                                id="CheckBox2"
                                type="checkbox"
                                (change)="selectAt(i,saveUserNameCheckBox.checked)" (click)="selectAt2(qs.id)" />
                        <div class="state p-success">
                          <i class="icon fa fa-check" aria-hidden="true"></i>
                          <label style="margin-left: -200px;"></label>
                        </div>
                      </div>

                    </td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls previousLabel="Trước" nextLabel="Sau" (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: 100px;">
          <div class="col-md-12">
            <div class="d-flex justify-content-center mt-2">
              <a class="btn btn-success" id="btnAddQuestionToExam" style="color: white" (click)="addQsInExam(id)">Thêm câu hỏi</a>
              <a class="btn btn-danger" (click)="reloadData()" style="color: white" >Hủy chọn</a>
              <a class="btn badge-primary" [routerLink]="['/admin/exam/list',exam.id]" style="color: white" >Trở lại</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- page content -->
  </div>

