
Hải đã gửi Hôm nay lúc 00:13
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Quản lí thành viên</title>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <app-sidebaradmin [userNameDsp]="logName" ></app-sidebaradmin>
    <app-headeradmin></app-headeradmin>

    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h1>Danh sách thành viên</h1>
            <br>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="sampleTable">
              <thead>
              <tr>
                <th>STT</th>
                <th>Tên đăng nhập</th>
                <th>Họ và tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Giới tính</th>
                <th>Tùy chọn</th>
              </tr>
              </thead>
              <tbody >
              <tr *ngFor="let user of Users;let i=index">
                <td>{{i+1}}</td>
                <td>{{user.username}}</td>
                <td>{{user.fullName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.gender}}</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle"
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" (click)="delete(user.id) " id="confirmDelete" ><i class="fa fa-trash-o" ></i> Xóa</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" [routerLink]="['/admin/user/detail' ,user.id]" > <i class="fa fa-question-circle-o"></i> Chi tiết</a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>