
<head>
  <title>Lớp học</title>
  <link rel="stylesheet" href="homelesson.component.css">
  <!--  <link rel="stylesheet" href="homepagelesson.component.css">-->
</head>
<body>
<app-header></app-header>
<app-menu></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner1">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <!-- list-subject -->
            <div class="class-sectionTitle">

              <span>みんなの日本語第</span>
            </div>
            <tr *ngFor="let lson of ls; index as i">
              <div class="item-wrap">
                <a class="item1" [routerLink]="['/study',lson.level,lson.lesson,lson.term, lson.id]" [ngClass]="{'nguphap': lson.term == 'Ngữ pháp', 'tuvung' : lson.term == 'Từ vựng' }">
                <span class="label1">Phần {{i+1}} : {{lson.term}}</span></a>
              </div>
            </tr>

          </div>
        </div>
<app-sidebar-lesson></app-sidebar-lesson>
      </div>
    </section>
  </div>
</main>

</body>


