<div class="news-list" style="height: 390px;">
  <a *ngFor="let exa of ex| paginate:{itemsPerPage:4, currentPage: b};" >
    <a >
      <div class="news-listItem" style="height: 90px" >
        <div class="img" style="cursor: pointer;">
          <img src="../../../assets/image/tikkitt.gif" height="400" width="370"/></div>
        <div class="content" style="margin-bottom: 5px">

          <h5 class="title" style="font-size: 100%">
            Mã đề : <span>{{exa.codeExam}}</span>
          </h5>
          <h5 class="title" style="font-size: 100%">
            Thời gian : <span>{{exa.timeOut}}</span>
          </h5>
          <h5 class="title" style="font-size: 100%">
            Học phần : <span > {{exa.term}}</span>
          </h5>
        </div>
      </div>
    </a>
  </a >
  <br>
  <div>


  </div>

</div>
