
<!--</head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--  <title>Đăng nhập</title>-->
<!-- -->


<body style="width: 500px;margin-left: 500px;margin-top: 100px; background-image: url('../../../assets/image/background_login.jpg') " >
<div id="logreg-forms">
  <div class="col-md-12">
  <form class="form-signin">
    <h1 class="mb-4" style="text-align: center"> Đăng nhập</h1>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >

    <input type="text"
           id="username"
           class="form-control"
           placeholder="Tên đăng nhập"
           name="username"
    [(ngModel)]="form.username"
    required
    #username ="ngModel"
    />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && username.invalid">
        Tên đăng nhập không được để trống.
      </div>
    <input type="password"
           id="password"
           class="form-control"
           placeholder="Mật khẩu"
           name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password = "ngModel"
    />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && password.invalid"
      >
        <div *ngIf="password.errors.required">Không được để trống mật khẩu</div>
        <div *ngIf="password.errors.minlength">
          Mật khẩu ít nhất 6 ký tự.
        </div>
      </div>
<div class="form-group">
  <button class="btn btn-primary btn-block">
    Đăng nhập
  </button>
</div>
<div class="form-group">
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="f.submitted && isLoginFailed">
    Login failed: {{ errorMessage }}
  </div>
  <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in as {{ roles }}
  </div>
</div>
      <p style="text-align:center">Hoặc</p>
    <div class="social-login">
      <button class="btn facebook-btn social-btn" type="button" style="color: white; background: blue; margin-left: 20px" ><a  ><i class="fa fa-facebook-f"></i> Đăng nhập Facebook</a> </button>
      <button class="btn google-btn social-btn" type="button" style="margin-left: 50px; color: white; background: red"><a ><i class="fa fa-google-plus-official"></i> Đăng nhập Google+</a></button>
    </div>


    <hr>
    <button class="btn btn-primary btn-block" type="button" id="btn-signup" [routerLink]="['/register']"><i class="fa fa-user-plus" ></i> Đăng kí tài khoản.</button>
  </form>
  </form>
</div>
</div>
</body>
