<div class="col-md-4 col-12">
  <div class="class-right">
    <div class="class-sectionTitle2 test">
      <div align="center">Chọn bài học</div>
    </div>
    <table><thead><th><div class="sidebar-content">
      <div>
        <!--            <h4 style="color: #151414; text-align: center">Mời bạn chọn bài từ vựng</h4>-->
        <div class="hight">
          <button type="button" class="btn1 btn-primary">Bài 1</button>
          <button type="button" class="btn1 btn-danger">Bài 2</button>
          <button type="button" class="btn1 btn-success">Bài 3</button>
          <button type="button" class="btn1 btn-info">Bài 4</button>
        </div>
        <div class="hight">
          <button type="button" class="btn1 btn-primary">Bài 5</button>
          <button type="button" class="btn1 btn-danger">Bài 6</button>
          <button type="button" class="btn1 btn-success">Bài 7</button>
          <button type="button" class="btn1 btn-info">Bài 8</button>

        </div>
        <div class="hight">
          <button type="button" class="btn1 btn-primary">Bài 9</button>
          <button type="button" class="btn1 btn-danger">Bài 10</button>
          <button type="button" class="btn1 btn-success">Bài 11</button>
          <button type="button" class="btn1 btn-info">Bài 12</button>
        </div>
        <div class="hight">
          <button type="button" class="btn1 btn-primary">Bài 13</button>
          <button type="button" class="btn1 btn-danger">Bài 14</button>
          <button type="button" class="btn1 btn-success">Bài 15</button>
          <button type="button" class="btn1 btn-info">Bài 16</button>
        </div>
        <div class="hight">
          <button type="button" class="btn1 btn-primary">Bài 17</button>
          <button type="button" class="btn1 btn-danger">Bài 18</button>
          <button type="button" class="btn1 btn-success">Bài 19</button>
          <button type="button" class="btn1 btn-info">Bài 20</button>

        </div>
        <div class="hight">
          <button type="button" class="btn1 btn-primary">Bài 21</button>
          <button type="button" class="btn1 btn-danger">Bài 22</button>
          <button type="button" class="btn1 btn-success">Bài 23</button>
          <button type="button" class="btn1 btn-info">Bài 24</button>
        </div>
        <div class="hight">
          <button type="button" class="btn1 btn-primary">Bài 25</button>
        </div>
      </div>
    </div></th></thead></table>

  </div>
</div>
