
<head>
  <title>Học ngữ pháp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="grammar.component.css">

</head>

<body>
​<table>
  <th>
    <div class="container" align="center" style="width: 600px">
      <h1 align="center" style="color: #151414; font-family: 'Algerian'">NGỮ PHÁP BÀI 1</h1>

      <table class="table table-bordered" style=" border-collapse: collapse" width="300px">
        <thead>
        <tr>
        <tr>
          <th  width="300" style="color: #151414;background: #f5cac8; font-size: large; text-align-all: left">I.CÂU PHỦ ĐỊNH</th>
        </thead>
        <tbody>
        <tr>
          <td width="300px"  style="background:antiquewhite; font-size: larger" colspan="2">Cấu trúc</td>
        </tr>
        <tr>
          <td width="300px"  align="center" colspan="2" height="50px" style="font-size: x-large; background: white"> <font style="color: #B7242A" >~ は</font>　Ｎです <font style="color: #B7242A" >か。</font>　</td>
        </tr>
        <tr>
          <td width="300px" style="background:antiquewhite; font-size: larger"  colspan="2">Ý nghĩa</td>
        </tr>
        <tr>
          <td width="300px"  align="center" colspan="2" height="50px" style="font-size: x-large; background: white" > ~ phải không? </td>
        </tr>
        <tr>
          <td width="300px" style="background:antiquewhite; font-size: larger"  colspan="2">Ví dụ</td>
        </tr>
        <tr>
          <td width="300px"  align="center" colspan="2" height="50px" style="font-size: x-large; background: white"> あなた　は　学生　ですか。</td>
        </tr>

        </tbody>
      </table>
    </div>
  </th>
  <th>
    <div class="lag">
      <h2 style="color: #151414">Mời bạn chọn bài ngữ pháp</h2>
      <div class="hight">
        <button type="button" class="btn btn-primary">Bài 1</button>
        <button type="button" class="btn btn-danger">Bài 2</button>
        <button type="button" class="btn btn-success">Bài 3</button>
        <button type="button" class="btn btn-info">Bài 4</button>
      </div>
      <div class="hight">
        <button type="button" class="btn btn-primary">Bài 5</button>
        <button type="button" class="btn btn-danger">Bài 6</button>
        <button type="button" class="btn btn-success">Bài 7</button>
        <button type="button" class="btn btn-info">Bài 8</button>

      </div>
      <div class="hight">
        <button type="button" class="btn  btn-primary">Bài 9</button>
        <button type="button" class="btn btn-danger">Bài 10</button>
        <button type="button" class="btn btn-success">Bài 11</button>
        <button type="button" class="btn btn-info">Bài 12</button>
      </div>
      <div class="hight">
        <button type="button" class="btn btn-primary">Bài 13</button>
        <button type="button" class="btn btn-danger">Bài 14</button>
        <button type="button" class="btn btn-success">Bài 15</button>
        <button type="button" class="btn btn-info">Bài 16</button>
      </div>
      <div class="hight">
        <button type="button" class="btn btn-primary">Bài 17</button>
        <button type="button" class="btn btn-danger">Bài 18</button>
        <button type="button" class="btn btn-success">Bài 19</button>
        <button type="button" class="btn btn-info">Bài 20</button>

      </div>
      <div class="hight">
        <button type="button" class="btn btn-primary">Bài 21</button>
        <button type="button" class="btn btn-danger">Bài 22</button>
        <button type="button" class="btn btn-success">Bài 23</button>
        <button type="button" class="btn btn-info">Bài 24</button>
      </div>
      <div class="hight">
        <button type="button" class="btn btn-primary">Bài 25</button>
      </div>
    </div>
  </th>
</table>
<br>
</body>
