
<body>
<div id="logreg-forms">
  <form  class="form-signin" >
    <h1 class="mb-4" style="text-align: center"> Đăng kí</h1>


    <input type="text" id="user" class="form-control" placeholder="Tên đăng nhập" name="username" >
    <input type="password" id="pass" class="form-control" placeholder="Mật khẩu" name="pass" autofocus="">
    <span class="span-vld hide" id="vld-passRegister">Mật khẩu phải lớn hơn 5 ký tự</span>
    <input type="password" id="passagain" class="form-control" placeholder="Nhập lại mật khẩu" name="passagain" autofocus="">
    <input type="email" id="email" class="form-control" placeholder="Email" name="email" autofocus="" th:value="${email}" autofocus="">
    <button id="btnSubmitRegister" class="btn btn-primary btn-block" type="submit"><i class="fa fa-user-plus"></i> Đăng kí</button>
    <p style="text-align:center">Hoặc</p>
    <div class="social-login">
      <button class="btn facebook-btn social-btn" type="button"><a><i class="fa fa-facebook-f"></i> Đăng kí Facebook</a> </button>
      <button class="btn google-btn social-btn" type="button"><a><i class="fa fa-google-plus-official"></i> Đăng kí Google+</a> </button>
    </div>

    <a href="#" class="mt-2" id="cancel_signup" style="color: #005cbf"><i class="fa fa-angle-left"></i> Trở lại</a>
  </form>
  <br>
</div>
</body>
