


<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <app-sidebaradmin [userNameDsp]="logName" ></app-sidebaradmin>
    <app-headeradmin></app-headeradmin>


    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h1>Quản Lý Thêm Bài Học </h1>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row" >
          <div class="col-md-8">

          </div>
          <br>
          <form [formGroup]="FormSubmit"  method="post" enctype="multipart/form-data">

            <div class="col-md-8" style="margin-left: 180px">
              <div class="p-2">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Thêm mới bài học</h4>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12">
                    <label class="labels">Tên bài học</label>
                    <input  type="text" [(ngModel)]="ls.lesson" class="form-control"  formControlName="baihoc"  name="lessonName" id="lessonName" ng-required="$scope.uid">
                    <span class="error" *ngIf="baihoc.invalid && baihoc.touched" > Tên bài học không được để trống </span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12">
                    <label class="labels">Mô tả bài học</label>
                    <input type="text" [(ngModel)]="ls.description" ng-required="$scope.uid" class="form-control"formControlName="mota"   name="description"  id="descriptionLesson"/>
                    <span class="error" *ngIf="mota.invalid && mota.touched"> Mô tả bài học không được để trống </span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6">
                    <label>Học phần</label>
                    <select [(ngModel)]="ls.term" class="form-control"formControlName="hocphan"   name="subjectId" id="subjectId">
                      <option value="Từ vựng">Từ vựng</option>
                      <option value="Ngữ pháp">Ngữ pháp</option>
                    </select>
                    <span class="error" *ngIf="hocphan.invalid && hocphan.touched"> Vui lòng chọn học phần </span>
                  </div>
                  <div class="col-md-6">
                    <label>Trình độ</label>
                    <select  [(ngModel)]="ls.level" class="form-control"formControlName="trinhdo"   name="classId" id="classId">
                      <option value="N5">N5</option>
                      <option value="N4">N4</option>
                      <option value="N3">N3</option>
                      <option value="N2">N2</option>
                      <option value="N1">N1</option>
                    </select>
                    <span class="error" *ngIf="trinhdo.invalid && trinhdo.touched"> Vui lòng chọn trinh dộ </span>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12">
                    <label class="labels">Nội dung bài học</label>
                    <br>
                    <a>
                      <ckeditor formControlName="noidung"
                                [(ngModel)]="ls.content">
                      </ckeditor>
                      <span class="error" *ngIf="noidung.invalid && noidung.touched"> Nội dung không được để trống </span>
                    </a>
                  </div>
                </div>

                <div class="text-center mt-3">
                  <button class="btn btn-success" id="btnAddLesson" (click)="updateLesson()" [disabled]="FormSubmit.invalid"  type="submit"  >Update bài học</button>
                  <a  class="btn btn-danger" [routerLink]="['/admin/lesson']">Hủy bỏ</a>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>


