

<script src="../../../assets/js/jquery-3.3.1.min.js"></script>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-4">
          <div class="header-left">
            <a class="header-logo" href="">
<!--              <img src="../../../assets/image/logo-ltt.png" height="97" width="278"/>-->
              <img src="../../../assets/image/mina.png" alt="logo">
            </a>
          </div>
        </div>
        <div class="col-md-4 col-8 d-sm-none d-md-block">
          <div class="header-right">
            <form action="/search" method="get" >
              <div class="searchBox d-none d-lg-flex">
                <input type="text" placeholder="Search...">
                <button class="btn-search"><i class="fa fa-search"></i></button>
              </div>
            </form>
            <button class="btn-showMenu d-lg-none">
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
