<div class="col-md-4 col-12">
    <div class="class-right" style="width: 300px">
      <div class="class-sectionTitle1 test">
        <span>Các bài học xem nhiều</span>
      </div>
      <div class="sidebar-content">
        <ul>
          <li class="list-item" >
            <a >Ngữ Pháp N5 Bài 10</a>
          </li> <li class="list-item" >
            <a >Từ Vựng N4 Bài 2</a>
          </li> <li class="list-item" >
            <a >Ngữ Pháp N3 Bài 5</a>
          </li> <li class="list-item" >
            <a >Từ Vựng N5 Bài 1</a>
          </li>
        </ul>
      </div>

      <div class="class-sectionTitle1 test">
        <span>Đề thi làm nhiều</span>
      </div>
      <div class="sidebar-content">
        <ul>
          <li class="list-item" >
            <a >Đề Thi JLPT N1 Tháng 7/2015</a>
          </li>
          <li class="list-item" >
            <a >Đề Thi Thử Thách N4 5 Phút</a>
          </li>
          <li class="list-item">
            <a >Đề Thi JLPT N2 Tháng 7/2018</a>
          </li>
          <li class="list-item" >
            <a >Đề Thi JLPT N4 Tháng 12/2020</a>
          </li>
        </ul>
      </div>
      <div class="class-sectionTitle1 test">
        <span>Bí kíp học tập</span>
      </div>
      <div class="sidebar-content">
        <ul>
          <li class="list-item" >
            <a >Học Trực Tuyến Có Tốt Không?</a>
          </li><li class="list-item" >
            <a >Nên học trực tuyến ở đâu?</a>
          </li><li class="list-item" >
            <a>Học Trực Tuyến Cần Kĩ Năng gì?</a>
          </li><li class="list-item" >
            <a >Nên Lực Chọn Cách Học Trực Tuyến Như Thế Nào? </a>
        </ul>
      </div>
    </div>
  </div>
