
<head>
  <title>Lớp học</title>
  <!--  <div th:replace="fragments/init_lib :: header"></div>-->
</head>
<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName"></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <!-- list-subject -->
            <div class="class-sectionTitle">
              <span>Danh sách đề thi thử JLPT N5</span>
            </div>
            <div class="test-list" *ngFor="let ex of exam" >
              <a >
                <div class="test-listItem">
                  <div class="img">


                    <img src="../../../../assets/image/exam/ezgif.com-gif-maker.png" height="200" width="200"/></div>
                  <div class="tn5" (click)="detail(ex.id)" class="content" [routerLink]="['/N5/start-test']">
                    <h6  class="title">Mã đề thi:    {{ex.codeExam}} <br>
                      Trình độ:   {{ex.level}} </h6>
                    <span> Thời gian: {{ex.timeOut}}phút</span><br>
                    <p >
                    </p>
                  </div>

                </div>
              </a>
            </div>


          </div>
        </div>
        <app-sidebar></app-sidebar>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
</body>

