<head>
  <title>Học hán tự</title>
</head>
<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName"></app-menu><main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <!-- list-subject -->
            <div class="class-sectionTitle">
              <span>Các bộ thủ cơ bản</span>
            </div>
            <div class="list-subject">
              <div style="font-size: 20px;text-align: justify;">Trước khi học chữ ai cũng phải trải qua giai đoạn học chữ cái và học tiếng Nhật cũng vậy.
                Trước kia khi học tiếng Nhật thì phần trước tiên chúng ta học là 2 bảng chữ cái hiragana và katakana. Học chữ Kanji chúng ta cũng phải học chữ cái, bảng chữ cái của chữ kanji đó chính là các bộ. Có thể nhiều bạn đã bỏ qua bước này mà học luôn chữ kanji mà không cần học bộ, với những chữ ít nét thì các bạn có thể nhớ được, còn với những chữ có nhiều nét thì sẽ rất khó nhớ. Đó là học vẹt và không bài bản (nhớ rồi vẽ lại, chứ không phải là viết)</div>
            </div>
            <img src="../../../../assets/image/bo-thu-kanji.jpg" height="349" width="565"/></div>
          <div style="font-size: 20px;text-align: justify;margin-top: 10px">
            Chữ Kanji là chữ tượng hình, tưởng chừng được tạo nên không theo quy luật nào cả. Tuy nhiên, thực ra, mỗi chữ kanji là sự kết hợp của các bộ thủ khác nhau. Trong chữ Kanji có 214 bộ thủ, bộ thủ ít nét nhất là 1 nét (一), nhiều nét nhất là 17 nét (龠). Bằng cách ghi nhớ các bộ thủ, bạn sẽ dễ dàng hơn khi học thuộc các mặt chữ tiếng Kanji và ý nghĩa của chúng.
          </div>
          <div style="font-size: 20px;text-align: justify;margin-top: 20px">
            Tuy nhiên trong 214 bộ thủ này có những bộ cả đời chỉ gặp 1-2 lần thì với những bộ như vậy chúng ta không cần phải học, những bộ phức tạp sẽ do những bộ đơn giản cấu tạo thành nên chúng ta không cần phải học hết đầy đủ 214 bộ. Trung tâm Nhật ngữ Hikari Academy sẽ thống kê những bộ thủ căn bản và thường sử dụng nhất để các bạn dễ dàng hơn trong việc học chữ Kanji.
            Các bạn phải nhớ âm Hán việt, ý nghĩa và cách viết của 80 bộ dưới đây nhé:
          </div>
          <table class="table" style="font-size: 18px;margin-top: 20px">
            <thead>
            <tr>
              <th>STT</th>
              <th>Bộ</th>
              <th>Tên Hán Việt</th>
              <th>Ý nghĩa</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>2</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr>
            <tr>
              <td>3</td>
              <td>丶</td>
              <td>Chủ</td>
              <td>Nét chấm, một điểm.</td>
            </tr>
            <tr>
              <td>4</td>
              <td>丿</td>
              <td>Phiệt</td>
              <td>Nét phẩy bên trái của chữ Hán, nét sổ từ phải qua trái.</td>
            </tr> <tr>
              <td>5</td>
              <td>乙</td>
              <td>Ất</td>
              <td>Can thứ hai trong mười can (Giáp, Ất, Bính, Đinh…).</td>
            </tr>
            <tr>
              <td>6</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>7</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>8</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>9</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>10</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>11</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>12</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>13</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>14</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>15</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>16</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>16</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>17</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>18</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>19</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>20</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>21</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>22</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>23</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>24</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>25</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>26</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>27</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>28</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>29</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>30</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>31</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>32</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>33</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>34</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>35</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>36</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>37</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>38</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            <tr>
              <td>39</td>
              <td>丨</td>
              <td>Cổn</td>
              <td>Nét sổ, đường thẳng đứng trên thông xuống dưới.</td>
            </tr> <tr>
              <td>40</td>
              <td>一</td>
              <td>Nhất</td>
              <td>Một, là số đứng đầu các số đếm. Phàm vật gì chỉ có một đều gọi là Nhất cả.</td>
            </tr>
            </tbody>
          </table>
        </div>
        <app-sidebar></app-sidebar>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
</body>

