

<form  style="padding: 0px;width: 400px;">
  <div aria-labelledby="removeModalCenterTitle" aria-hidden="true" >
          <b class="modal-title" style="color: red;font-size: 20px" >Xác nhận đăng xuất</b>
          <button type="button" class="close" [mat-dialog-close]="false" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
          <div style="font-size: 18px">Bạn có chắc chắn muốn đăng xuất không?</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" [mat-dialog-close]="false" >
            <i class="fa fa-times" ></i> Hủy bỏ</button>
          <button type="button"  class="btn btn-success" [mat-dialog-close] (click)="LogOut()" ><i class="fa fa-check"></i> Đăng xuất</button>
        </div>
</form>
