<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Quản lí bài học</title>
  <div th:replace="admin/init_admin :: header"></div>
  <link rel="stylesheet" href="quanlibaihoc.component.css">
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <app-sidebaradmin></app-sidebaradmin>
<app-headeradmin></app-headeradmin>


    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h1>Danh sách bài học</h1>
            <br>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div>
              <form  >
                  <div class="col-lg-12 col-sm-12 col-sm-4 col-xs-3">
                    <div>
                      <button  type="add" [routerLink]="['/admin/lesson/add']" id="them" class="btn btn-success">Thêm mới
                      </button>
                      <br>
                      <br>
                      <input style="width: 300px" class="form-control" name="description" type="text" [(ngModel)]="description"  (ngModelChange)="Search()" placeholder="Nhập tên bài học để tìm"  >
                    </div>

                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="row">
          <div class="col-md-12">

            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="sampleTable">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Tên bài học</th>
                    <th>Học phần</th>
                    <th>Trình độ</th>
                    <th>Mô tả</th>
                    <th>Tùy chọn</th>
                  </tr>
                  </thead>
                  <tbody >
<!--                  <tr *ngFor="let lesson of ls | paginate:{itemsPerPage:3, currentPage:p};">-->
                  <tr *ngFor="let lesson of ls">
                    <td>{{lesson.id}}</td>
                    <td >{{lesson.lesson}}</td>
                    <td >{{lesson.term}}</td>
                    <td >{{lesson.level}}</td>
                    <td >{{lesson.description}}</td>
                    <td>
                      <button  type="add" (click)="delete(lesson.id) " class="btn btn-success">Xóa
                      </button>
<!--                        <button (click)="delete(lesson.id)" class="badge badge-danger mr-2" >delete</button>-->
                        <button  class ="btn btn-success"  [routerLink]="['/admin/lesson/edit',lesson.id]"style="margin-left: 10px">Sửa</button>

                        <button  style="margin-left: 10px"  class ="btn btn-success"  [routerLink]="['/admin/lesson/detail',lesson.id]">Chi tiết
                        </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div th:replace="admin/pagging::content"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

<!--<pagination-controls style="margin-left: 250px" (pageChange)="p = $event"></pagination-controls>-->

<div th:replace="admin/modal_confirm::content"></div>
<div th:replace="admin/modal_active::content"></div>
<div th:replace="admin/modal_disable::content"></div>
<div th:replace="admin/footer :: content"></div>

</body>

</html>
