
<head>
  <title>Từ vựng N4</title>
</head>
<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName"></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner1">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <!-- list-subject -->
            <div class="class-sectionTitle">

              <span>みんなの日本語第</span>

            </div>
            <h1>Các bài học:</h1>
            <tr *ngFor="let lson of ls; index as i">

              <td style="font-size: 15px; color: black;width: 550px" class="item1" [routerLink]="['/study/',lson.level,'tuvung',lson.lesson, lson.id]">
                <span class="label1">Phần {{i+1}} : {{lson.lesson}}</span></td>
            </tr>

          </div>
        </div>
        <app-sidebar-lesson></app-sidebar-lesson>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
</body>






