
<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName"></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner8">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left" style="border: 2px solid #f0f0f0;">
            <!-- list-subject -->
            <div class="class-sectionTitle">
              <span>Tổng quan về tiếng Nhật</span>
            </div>
            <div >

              <img style="margin-top: 15px;" src="../../../assets/image/lovejapan.png" height="400px" width="966"/>
              <div align="center" style="font-size: 15px;">Tiếng Nhật được bọn trẻ yêu thích nhất hiện nay</div>
            </div>
              <div style="font-size: 20px;text-align: justify;margin-top: 20px">Tiếng Nhật luôn được đánh giá là ngôn ngữ khó nên phải đầu tư rất nhiều thời gian, công sức mới có thể thành công. Nhưng bù lại , nếu bạn có thể sử dụng tiếng Nhật tốt thì mức lương sẽ rất cao , bình thường là khoảng 10- 15 triệu, khá thì 20-25 triệu, nếu giỏi có thể được 40 triệu trở nên cùng rất nhiều cơ hội sang Nhật làm việc, được tiếp cận với nền văn hóa văn minh, hiện đại , những điều tốt đẹp để bạn có thể phát triển bản thân rất tốt.</div>
            <div style="font-size: 20px;text-align: justify;margin-top: 10px">
              Quay lại với chủ đề chính. Tiếng Nhật là ngôn ngữ tương đối khó , khó nhất là hệ thống chữ Hán, ngữ pháp tiếng Nhật cũng hơi lằng nhằng. Tuy nhiên, Nhật Bản lại hội tụ rất nhiều thế mạnh đặc biệt là sự mở rộng quan hệ hợp tác kinh tế quốc tế của người Nhật mà lượng người học tiếng Nhật trên toàn thế giới ngày một tăng.
            </div>
              <div align="center"> <img src="../../../assets/image/bai-hat-myu-sings-aiueo-32432.jpg"style="height: 300px; width: 600px;align-content: center;" /></div>
              <div style="font-size: 20px;text-align: justify;margin-top: 20px">
                Tại Việt Nam, tiếng Nhật được giới chuyên gia đánh giá là 1 trong 3 ngoại ngữ thông dụng và được đưa vào giảng dạy trong hệ thống giáo dục từ trung học cơ sở đến đại học trong cả nước. Ngoài ra, còn có rất nhiều trung tâm Tiếng Nhật được mở ra để đáp ứng nhu cầu học tập ngày một nhiều của học viên. Mỗi năm có hàng nghìn người theo học tiếng Nhật và con số này sẽ không ngừng tăng.
          </div>
              <div style="font-size: 20px;text-align: justify;margin-top: 20px">
                Tuy nhiên lượng cung vẫn không đủ lượng cầu. Lượng cầu tuyển dụng các vị trí biết tiếng Nhật vẫn không hề giảm , nhất là các vị trí đòi hỏi năng lực tiếng Nhật tốt, nhiều vị trí có mức lương cực cao nhưng vẫn để trống bởi không tuyển được người. Nguyên nhân đa phần là do có nhiều người học nhưng đa phần thường bỏ dở, không chuyên tâm nên người học nhiều mà nguồn nhân lực vẫn thiếu. Vậy nên các bạn đang học hãy cố gắng lên nhé, đừng thấy khó mà nản, hãy quyết tâm và lựa chọn phương pháp đúng nhé. Có rất nhiều cơ hội tốt mở ra khi chinh phục thành công tiếng Nhật đấy.
              </div>
            <div align="center"><img src="../../../assets/image/uk.png" style="height: 300px; width: 600px;align-content: center;"/></div>  <div align="center" style="font-size: 15px">Có sự quyết tâm khi học tiếng Nhật</div>
            <div style="font-size: 20px;text-align: justify;margin-top: 20px">
              <b>Về ngữ âm :</b> Phát âm và ngữ điệu tiếng Nhật không khó , nếu học nghiêm túc, cẩn thận thì có thể phát âm chuẩn một cách dễ dàng. Tiếng Nhật cũng có trọng âm, nhưng nó không phức tạp như tiếng Anh nhưng bạn cũng nên để ý. Ngữ điệu trong tiếng Nhật không khó, ngược lại nó rất thú vị , các bạn sẽ được làm quen dần trong các bài học.
            </div>
              <div style="font-size: 20px;text-align: justify;margin-top: 20px">
                <b>Về ngữ pháp: </b> Ngữ pháp tiếng Nhật hơi phức tạp , chủ yếu là do thứ tự sắp xếp từ loại khác so với tiếng Việt nên việc này sẽ gây cản trở cho các bạn trong việc đọc và lý giải câu. Tuy nhiên, hãy chăm chỉ ôn luyện và luyện đọc nhiều, các bnaj sẽ thấy ngữ pháp tiếng Nhật không hề phức tạp như đã nói. Xét cho cùng, ngữ pháp tiếng Nhật là các quy tắc sắp xếp từ vựng để ai cũng có thể học được mà.
              </div>
      </div>
      </div>
        <app-sidebar></app-sidebar>
        </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
</body>

