
<body>
<app-header></app-header>
<app-menu></app-menu>
<main class="class">
  <div class="container">
    <!-- banner -->
    <div class="banner exam-banner9">
    </div>
    <!-- class content-->
    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <div class="class-sectionTitle">
              <span>DANH SÁCH PHÒNG THI ĐẤU</span>
            </div>
            <div class="text-right" ><br>

              <div class="btn-group" style="z-index: 1;">
                <input  type="search" name="" id="ctr-search-room" onkeyup="return filter_room();" style="margin-right: 10px" class="text-center form-control" value="" title="" placeholder="Tìm theo tên mã phòng">
              </div>
              <a [routerLink]="['/challenge/add']" class="click"><img src="../../../../assets/image/ctr-lr-create-btn.png" style="height: 40px;width: 100px;margin-right: 10px;margin-bottom: 5px"/></a>
              <a href="" data-toggle="modal" class="click" onclick="open_find_room();"><img src="../../../../assets/image/ctr-lr-join-btn.png" style="height: 40px;width: 100px;margin-right: 10px;margin-bottom: 5px"></a>
            </div>
            <div>
              <table class="table"><thead>
              <tr style="background-color: #007bff52;" >
                <th>Số</th>
                <th>Chủ phòng</th>
                <th>Tên phòng</th>
                <th>Trình độ</th>
                <th>Thời gian</th>
                <th>Số người</th>
                <th>Trạng thái</th>
              </tr></thead>
                <tbody>
                <tr *ngFor="let roomChallenge of challenge">
                  <td>{{roomChallenge.room_id}}</td>
                  <td (click)="add()" >{{roomChallenge.userCreate}}</td>
                  <td (click)="add()" >{{roomChallenge.room_name}}</td>
                  <td>{{roomChallenge.level}}</td>
                  <td>{{roomChallenge.time +'Phút'}}</td>
                  <td></td>
                  <td></td>
                </tr>

                </tbody>

              </table>

            </div>
          </div>
        </div>
        <app-sidebar></app-sidebar>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
</body>

