<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Thêm câu hỏi</title>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <app-sidebaradmin></app-sidebaradmin>
    <app-headeradmin></app-headeradmin>
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_center">
            <h1 style="font-size: larger">Thêm mới câu hỏi</h1>
          </div>
          <div class="align-items-center mb-4">
            <h4>Thông tin câu hỏi</h4>
          </div>
          <div class="row">
            <form [formGroup]="submitForm" method="post" enctype="multipart/form-data">
              <div class="col-md-6 mt-3">
                <label class="labels">Nội dung câu hỏi</label>
                <input [(ngModel)]="qs.content" type="text" class="form-control" formControlName="content" name="content" id="contentID">
                <span class="error" *ngIf="content.invalid && content.touched">Nội dung bài học không được để trống.</span>
              </div>
              <div class="col-md-6 mt-3">
                <label>Học phần</label>
                <select [(ngModel)]="qs.term" class="form-control" formControlName="term" name="classId" id="termID">
                  <option value="">Tùy chọn</option>
                  <option value="Từ vựng">Từ vựng</option>
                  <option value="Ngữ pháp">Ngữ pháp</option>
                </select>
                <span class="error" *ngIf="term.invalid && term.touched">Vui lòng chọn học phần.</span>
              </div>
              <div class="col-md-6 mt-3">
                <label>Trình độ</label>
                <select [(ngModel)]="qs.level" class="form-control" formControlName="level" name="classId" id="levelId">
                  <option value="">Tùy chọn</option>
                  <option value="N5">N5</option>
                  <option value="N4">N4</option>
                  <option value="N3">N3</option>
                  <option value="N2">N2</option>
                  <option value="N1">N1</option>
                </select>
                <span class="error" *ngIf="level.invalid && level.touched">Vui lòng chọn trình độ.</span>
              </div>
              <div class="col-md-6 mt-3">
                <label class="labels">Đáp án A</label>
                <input [(ngModel)]="qs.ansA" type="text" class="form-control" formControlName="ansA" name="ansA"  >
                <span class="error" *ngIf="ansA.invalid && ansA.touched">Vui lòng nhập đáp án A</span>
              </div>
              <div class="col-md-6 mt-3">
                <label class="labels">Đáp án B</label>
                <input [(ngModel)]="qs.ansB" type="text" class="form-control" formControlName="ansB" name="ansB"  >
                <span class="error" *ngIf="ansB.invalid && ansB.touched">Vui lòng nhập đáp án B</span>
              </div>
              <div class="col-md-6 mt-3">
                <label class="labels">Đáp án C</label>
                <input [(ngModel)]="qs.ansC" type="text" class="form-control" formControlName="ansC" name="ansC">
                <span class="error" *ngIf="ansC.invalid && ansC.touched">Vui lòng nhập đáp án C</span>
              </div>
              <div class="col-md-6 mt-3">
                <label class="labels">Đáp án D</label>
                <input [(ngModel)]="qs.ansD" type="text" class="form-control" formControlName="ansD" name="ansD">
                <span class="error" *ngIf="ansD.invalid && ansD.touched">Vui lòng nhập đáp án D</span>
              </div>
              <div class="col-md-6 mt-3">
                <label>Đáp án đúng</label>
                <select [(ngModel)]="qs.ansCorrect" class="form-control" formControlName="ansCorrect" name="classId" id="ansCorrectID">
                  <option value="">Tùy chọn</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                </select>
                <span class="error" *ngIf="ansCorrect.invalid && ansCorrect.touched">Vui lòng chọn đáp án đúng</span>
              </div>
            </form>
            <br><br>
            <div class="mt-6 " style="position: relative; left: 520px">
              <br><br>

              <button class="btn btn-success" (click)="add()" type="submit" id="btnAddQuestiontoExam" [disabled]="submitForm.invalid" >Thêm câu hỏi</button>

              <a class="btn btn-danger"  [routerLink]="['/admin/question']">Hủy bỏ</a>
            </div>
          </div>
        </div>
        <span class="span-vld hide" id="vldAddQuestion">Vui lòng nhập đầy đủ thông tin</span>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
<div class="modal fade" id="modalProcess" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xử lý dữ liệu</h5>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="min-width: 10px;">0</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
