<head>
  <title>Luyện thi</title>
</head>

<body>
<app-header></app-header>
<app-menu  [userNameDsp]="logName" [role]="role"></app-menu>
<main class="home">
  <div class="container">
    <div class="infomation-exam">
    </div>
  </div>
  <div class="container exam-test">
    <section class="container">

      <h5 style="text-align: center;color: #00aeef"  >
        <strong>   <div id="timer">
          <span><i class="fa fa-clock-o" ></i></span>
        </div>
        </strong>
      </h5>
    </section>
    <form action="/action_page.php">
    <section class="main-exam container">
      <h2 style="text-align: center;font-size: 20px">Thi Online</h2>
      <div class="exam-content" >
        <div class="list-question" >
          <div class="item-question"  *ngFor="let review of qs| paginate:{itemsPerPage:8, currentPage:p};; let i = index; let j = index" value="{{review}}" >
            <div class="title">
              <b><span class="question-no">{{i+1}}</span>{{review.content}}</b>
            </div>
            <div >
              <div  class="content-ans">
                <mat-radio-button class="sp" type="radio" name="{{j+1}}"   value="{{review.ansA}}" title=""  (click)="selectAt(i,'A')">A. {{review.ansA}} </mat-radio-button>
<!--                <input class="sp" type="radio" name="{{j+1}}"   value="{{review.ansA}}" title=""  (click)="selectAt(i,'A')" >-->
<!--                <span  class="sp">A. {{review.ansA}}</span>-->
              </div>
              <div class="content-ans">
                <mat-radio-button class="sp" type="radio" name="{{j+1}}"   value="{{review.ansB}}" title=""  (click)="selectAt(i,'')"> B. {{review.ansB}} </mat-radio-button>

<!--                <input class="sp" type="radio" name="{{j+1}}" value="{{review.ansB}}" title="" (click)="selectAt(i,'B')">-->
<!--                <span  class="sp">B. {{review.ansB}}</span>-->
              </div>
              <div class="content-ans">
                <mat-radio-button class="sp" type="radio" name="{{j+1}}"   value="{{review.ansC}}" title=""  (click)="selectAt(i,'C')"> C. {{review.ansC}} </mat-radio-button>

<!--                <input class="sp"        ng-model="string"-->
<!--                       type="radio" name="{{j+1}}"  value="{{review.ansC}}"  title="" (click)="selectAt(i,'C')">-->
<!--                <span  class="sp">C. {{review.ansC}}</span>-->
              </div>
              <div class="content-ans">
                <mat-radio-button class="sp" type="radio" name="{{j+1}}"   value="{{review.ansD}}" title=""  (click)="selectAt(i,'D')"> D. {{review.ansD}} </mat-radio-button>

                <!--                <input class="sp" type="radio" name="{{j+1}}" value="{{review.ansD}}" title="" (click)="selectAt(i,'D')">-->
<!--                <span class="sp">D. {{review.ansD}}</span>-->
              </div>
              <div class="content-ans">
                <!--                <p><span> You selected:</span><b>{{selectedAS[i]}}</b></p>-->
              </div>
            </div>
          </div>
        </div>
        <pagination-controls  (pageChange)="p = $event" previousLabel="Trước" nextLabel="Sau"></pagination-controls>
      </div>
    </section>
    </form>
    <section class="test-more container">
      <div class="row">

        <div class="col-md-12 col-sm-12">
          <button class="btn-finish btn btn-success" (click)="addResult(rs.id)">Kết quả</button>
        </div>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>

</body>
