
<head>
  <title>Học tập</title>

</head>
<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName"></app-menu>
<main class="class">
  <div class="container">

    <div class="banner exam-banner00">
    </div>

    <section class="class-content">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="class-left">
            <!-- list-subject -->
            <div class="class-sectionTitle">
              <span>みんなの日本語第</span>
            </div>
            <div style="margin-left: 80px" class="panel-body" [innerHtml]='ls.content'></div>
          </div>
        </div>
        <app-sidebar-lesson></app-sidebar-lesson>

      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>

</body>




