<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Chỉnh sửa đề thi</title>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <app-sidebaradmin [userNameDsp]="logName" ></app-sidebaradmin>
    <app-headeradmin></app-headeradmin>
    <div th:replace="admin/sidebar :: content"></div>
    <div th:replace="admin/header :: content"></div>

    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h1>Quản Lý Đề Thi </h1>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row" >
          <div class="col-md-8">

          </div>
          <br>
          <form  method="post" enctype="multipart/form-data">

            <div class="col-md-8" style="margin-left: 180px">
              <div class="p-2">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Cập nhật đề thi</h4>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 col-sm-12">
                    <label class="labels">Tiêu đề </label>
                    <input [(ngModel)]="ex.title" type="text" class="form-control" name="title" id="titleExam">
                    <span id="vld-titleExam" class="span-vld hide">Tiêu đề bài thi không được để trống </span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 col-sm-12">
                    <label class="labels">Mã Đề Thi</label>
                    <input [(ngModel)]="ex.codeExam" type="text" class="form-control" name="title" id="idExam">
                    <span id="vld-idExam" class="span-vld hide">Tiêu đề bài thi không được để trống </span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6 col-sm-12 ">
                    <label>Học Phần</label>
                    <select [(ngModel)]="ex.term" class="form-control" name="classId" id="classId">
                      <option value="">Tùy chọn</option>
                      <option value="Từ vựng">Từ vựng</option>
                      <option value="Ngữ pháp">Ngữ pháp</option>
                      <option value="Đề JPLT">Đề JPLT</option>
                      <option value="Thử Thách">Đề Thử Thách Cùng Nhau</option>
                    </select>
                    <span id="vld-subjectId" class="span-vld hide">Vui lòng chọn môn học.</span>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label>Trình độ</label>
                    <select [(ngModel)]="ex.level" class="form-control" name="level" id="level">
                      <option value="">Tùy chọn</option>
                      <option value="N1">N1</option>
                      <option value="N2">N2</option>
                      <option value="N3">N3</option>
                      <option value="N4">N4</option>
                      <option value="N5">N5</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6 col-sm-12">
                    <label class="labels">Số câu hỏi</label>
                    <input [(ngModel)]="ex.totalQuestion" type="number" class="form-control" name="totalQuestion" id="totalQuestionExam"  >
                    <span id="vld-totalQuestionExam" class="span-vld hide">Số câu hỏi không được để trống </span>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label class="labels">Thời gian (phút)</label>
                    <input [(ngModel)]="ex.timeOut" type="number" class="form-control" name="timeOut" id="timeoutExam" >
                    <span id="vld-timeoutExam" class="span-vld hide">Thời gian bài thi không được để trống </span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 col-sm-12">
                    <label class="labels">Nội dung</label>
                    <textarea [(ngModel)]="ex.content" type="text" class="form-control" name="content" id="contentExam" cols="7" rows="5"></textarea>
                    <span id="vld-contentExam" class="span-vld hide">Nội dung bài thi không được để trống </span>

                  </div>
                </div>
                <div class="text-center mt-3">
                  <button (click)="updateEx()" class="btn btn-success" type="submit" id="btnAddExam">Update đề thi</button>
                  <a class="btn btn-danger" [routerLink]="['/admin/exam']">Bỏ qua</a>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- page content -->
  </div>
</div>

<div th:replace="admin/footer :: content"></div>
<div th:replace="admin/init_admin :: script"></div>
</body>
</html>

