<head>
  <title>Thông tin thành viên</title>
</head>
<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName" [role]="role"></app-menu>
  <main class="home">
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-5 border-right">
          <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column align-items-center text-center">
              <form method="post" th:action="@{/profile/update-image-user}" enctype="multipart/form-data">
                <input type="text" name="userId" th:value="${us.id}" hidden>
                <h4 class="mb-5">Update hình ảnh</h4>
                <input type="file" (change)="showPreview($event)"  style="overflow: hidden"/>
                <div class="col-md-12 col-sm-12 mt-3">
                  <input type="submit" value="Cập nhật ảnh" (click)="save()" id="btnUpdateImage" class="btn btn-success mt-3">
                  <!--                  <img id="imgPreview" style="width: 63%;" th:src="@{/image/user/{image}(image=${us.image})}">-->
                </div>
<!--                <input type="submit" value="Cập nhật ảnh" (click)="save()" id="btnUpdateImage" class="btn btn-success mt-3">-->

              </form>
            </div>
          </div>
        </div>

        <div class="col-md-4 border-right">
          <div class="">
            <form th:action="@{/profile/update-user}" method="post"  >
              <div class="d-flex justify-content-center align-items-center mb-3">
                <h4 class="text-right">Thông tin tài khoản</h4>
              </div>
              <input type="text" hidden="true" name="userId" th:value="${us.id}">

              <div class="row mt-6">
                <div class="col-md-12 mt-2">
                  <label class="labels">Tên đăng nhập</label>
                  <input  type="text" [(ngModel)]="us.username" class="form-control"  formControlName="username"  name="username" id="username" ng-required="$scope.uid">

<!--                  <input type="text" [(ngModel)]="us.username" formControlName="username" required minlength="4"-->
<!--                         required maxlength="10"-->
<!--                         class="form-control"-->
<!--                         name="username" id="usernameUser"-->
<!--                  />-->


                  <span class="error" *ngIf="username.invalid && username.touched">Không được để trống tên đăng ký</span>                </div>
                <div class="col-md-12 mt-2" >
                  <label class="labels">Họ và tên</label>
                  <input  type="text" [(ngModel)]="us.fullName" class="form-control"  formControlName="fullName"  name="fullName" id="fullName" ng-required="$scope.uid">

<!--                  <input type="text" [(ngModel)]="us.fullName"  class=" form-control "formControlName="fullname" />-->
                  <span class="error" *ngIf="fullname.invalid && fullname.touched">Không được để trống họ và tên</span>

                </div>

                <div class="col-md-12 mt-2">
                  <label class="labels">Email</label>
                  <input  type="text" [(ngModel)]="us.email" class="form-control"  formControlName="email"  name="email" id="email" ng-required="$scope.uid">

<!--                  <input type="email" [(ngModel)]="us.email" class=" form-control "formControlName="email" readonly/>-->
                  <span class="error" *ngIf="email.invalid && email.touched"> email không đúng định dạng</span>
                </div>
                <div class="col-md-12 mt-2">
                  <label class="labels">Số điện thoại</label>
                  <input  type="text" [(ngModel)]="us.phoneNumber" class="form-control"  formControlName="phone"  name="phone" id="phone" ng-required="$scope.uid">


<!--                  <input type="number" [(ngModel)]="us.phoneNumber"-->
<!--                         class=" form-control "formControlName="phone" name="phone"  >-->
                  <span class="error" *ngIf="phone.invalid && phone.touched">không được để trống số điện thoại</span>                </div>

                <div class="col-md-12 mt-2">
                  <label class="labels">Giới tính</label>
                  <select  class="gt" name="gt" id="gtinh" [(ngModel)]=us.gender class="form-control"formControlName="gt" name="classId" id="classId"  >
                    <option value="Nam">Nam</option>`
                    <option value="Nữ">Nữ</option>
                  </select>
                  <span class="error" *ngIf="gt.invalid && gt.touched"> Vui lòng chọn giới tính </span>

                </div>

              </div>

              <div class="mt-3 text-center">
                <button class="btn btn-success" id="btnAddLesson" (click)="updateUser()" [disabled]="registerForm.invalid" style="margin-right: 10px"  type="submit">Lưu thông tin</button>
                <a class="btn btn-danger" [routerLink]="['/page-home']">Hủy bỏ</a>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel">Thông báo ! </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"><h3>Vui lòng chọn hình ảnh để update.</h3></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
</main>
<app-footer></app-footer>
</body>
