<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<app-header></app-header>
<app-menu [userNameDsp]="logName"  [role]="role"></app-menu>
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="">
    <div class="page-title">
      <div class="title_left">
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="x_title">
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="d-flex flex-column align-items-center text-center">
          <form>
          <span class="font-weight-bold mt-3" style="text-align: center;color: #05B2D2;size: 70px">CẬP NHẬT ẢNH ĐẠI DIỆN</span>

<!--            <input type="text" placeholder="Save with Key" name="id" [(ngModel)]="id">-->
          <br><br>
          <input type="file" (change)="showPreview($event)">
          <br><br>
          <button class="btn btn-success" id="save"  (click)="save()"  style="margin-right: 10px"  type="submit">Cập nhật ảnh</button>
            <input type="hidden"  [(ngModel)]="us.image" >
            <br><br>
            <img src="{{us.image}}" /><span class="font-weight-bold mt-3" style="font-size: 16px">Ảnh đại diện</span>
<!--            <button (click)="view()">View</button>-->

          </form>
        </div>



      </div>

      <div class="col-md-7 border-right">

        <div style="text-align: center" class="d-flex justify-content-between align-items-center mb-3">
            <h4 style="text-align: center;color: #05B2D2;size: 70px;font-family: 'Times New Roman' " class="text-right">THÔNG TIN TÀI KHOẢN</h4>
          </div>
        <form [formGroup]="registerForm"  method="post" enctype="multipart/form-data">

        <div class="col-md-6">
          <div class="p-2">
          <div class="col-md-12 mt-2">
            <b>  <label class="labels">Tên đăng nhập</label></b>
              <input type="text" class="form-control" [(ngModel)]="us.username" class="form-control"  formControlName="username" name="username" id="username" ng-required="$scope.uid" readonly>
                <span class="error" *ngIf="username.invalid && username.touched">Không được để trống tên đăng nhập</span>

              </div>
              <div class="col-md-12 mt-2" >
                <b> <label class="labels">Họ và tên</label></b>
              <input type="text" class="form-control" [(ngModel)]="us.fullName" class="form-control"  formControlName="fullname" name="fullname" id="fullname" ng-required="$scope.uid"   >
                <span class="error" *ngIf="fullname.invalid && fullname.touched">Không được để trống họ và tên</span>

              </div>
                <div class="col-md-12 mt-2">
                  <b><label class="labels">Email</label></b>
              <input type="text" class="form-control"[(ngModel)]="us.email"class="form-control"  formControlName="email" name="email" id="email" ng-required="$scope.uid"  >
                  <span class="error" *ngIf="email.invalid && email.touched"> email không đúng định dạng</span>

                </div>
                <div class="col-md-12 mt-2">
                  <b><label class="labels">Số điện thoại </label></b>
                  <input  type="text" [(ngModel)]="us.phoneNumber" class="form-control"  formControlName="phone"  name="phone" id="phone" ng-required="$scope.uid">
                  <span class="error" *ngIf="phone.invalid && phone.touched">không được để trống số điện thoại</span>

                </div>
                <div class="col-md-12 mt-2">
                  <b>  <label class="labels">Giới tính</label></b><br>
                  <select  class="gt" name="gt" id="gtinh" [(ngModel)]="us.gender" class="form-control"  formControlName="gt"  name="classgt" id="classgt"  >
                    <option value="Nam">Nam</option>`
                    <option value="Nữ">Nữ</option>
                  </select>
                  <span class="error" *ngIf="gt.invalid && gt.touched"> Vui lòng chọn giới tính </span>

                </div>

              <div class="mt-3 text-center">
                <button class="btn btn-success" id="updateuser"  (click)="updateUser()" [disabled]="registerForm.invalid" style="margin-right: 10px"  type="submit">Lưu thông tin</button>
                <a class="btn btn-danger" [routerLink]="['/page-home']">Hủy bỏ</a>

              </div>
          </div>

        </div>
        </form>

      </div>

    </div>
    </div>
</div>
<app-footer></app-footer>
</body>
</html>
