<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Quản lí câu hỏi</title>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <app-sidebaradmin [userNameDsp]="logName" ></app-sidebaradmin>
    <app-headeradmin></app-headeradmin>

    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h1>Danh sách câu hỏi</h1>
            <br>
          </div>
        </div>
        <div class="clearfix"></div>

        <br>
      <form >
        <div class="row">
          <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
            <label>Học Phần</label>
            <select [(ngModel)]="hocphan" class="form-control" name="subjectId">
              <option value="">Tùy chọn</option>
              <option value="Từ Vựng">Từ vựng</option>
              <option value="Ngữ Pháp">Ngữ pháp</option>
              <option value="Đề JLPT">Đề JLPT</option>
              <option value="Thử Thách">Đề Thử Thách Cùng Nhau</option>
            </select>
          </div>
          <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
            <label>Trình Độ</label>
            <select [(ngModel)]="trinhdo"  class="form-control" name="classId">
              <option value="">Tùy chọn</option>
              <option value="N5">N5</option>
              <option value="N4">N4</option>
              <option value="N3">N3</option>
              <option value="N2">N2</option>
              <option value="N1">N1</option>
            </select>
          </div>
          <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
            <label>&nbsp;</label>
            <div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
          </div>
          <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3" style="margin-left: 239px;">
            <label>&nbsp;</label>
            <div >
              <a [routerLink]="['/admin/question/add']" class="btn btn-success"><i class="fa fa-plus"></i> Thêm câu hỏi</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="sampleTable">
                  <thead>
                  <tr>
                    <th>STT</th>
                    <th>Học phần</th>
                    <th>Trình độ</th>
                    <th>Nội dung câu hỏi</th>
                    <th>Đáp án A</th>
                    <th>Đáp án B</th>
                    <th>Đáp án C</th>
                    <th>Đáp án D</th>
                    <th>Đáp án Đúng</th>
                    <th>Tùy chọn</th>
                  </tr>
                  </thead>
                  <tbody >
                  <tr *ngFor="let qs of question| filter:hocphan| filter: trinhdo | filter:hocphan| filter: trinhdo| paginate:{itemsPerPage:10, currentPage:p};let i=index">
                    <td  >{{qs.id}}</td>
                    <td>{{qs.term}}</td>
                    <td>{{qs.level}}</td>
                    <td style="text-align: left!important">{{qs.content}}</td>
                    <td style="width: 100px;">{{qs.ansA}}</td>
                    <td style="width: 100px;">{{qs.ansB}}</td>
                    <td style="width: 100px;">{{qs.ansC}}</td>
                    <td style="width: 100px;">{{qs.ansD}}</td>
                    <td style="width: 100px;">{{qs.ansCorrect}}</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-cog"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" (click)="delete(qs.id) " id="confirmDelete" ><i class="fa fa-trash-o" ></i> Xóa</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls previousLabel="Trước" nextLabel="Sau" (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
    <!-- page content -->
  </div>
</div>
</body>
</html>
