<form class="addform" >
  <div class="form-row">
    <div class="form-group col-md-4">
      <label >stt</label>
      <input type="number" class="form-control"  [(ngModel)]="lesson.id" name="id" placeholder="ID">
    </div>
    <div class="form-group col-md-4">
      <label >baihoc</label>
      <input type="text" class="form-control" [(ngModel)]="lesson.baihoc" name="baihoc" placeholder="baihoc">
    </div>
    <div class="form-group col-md-4">
      <label >hocphan</label>
      <input class="form-control" [(ngModel)]="lesson.hocphan" name="hocphan" placeholder="từ vựng">
    </div>
    <div class="form-group col-md-4">
      <label >trinhdo</label>
      <input  class="form-control" [(ngModel)]="lesson.trinhdo" name="trình độ" placeholder="N5">
    </div>
    <div class="form-group col-md-4">
      <label >mota</label>
      <input  class="form-control" [(ngModel)]="lesson.mota" name="mota" placeholder="dsdjhsdhd">
    </div>
    <div class="form-group col-md-4">
      <label >nọi dung</label>
      <input  class="form-control" [(ngModel)]="lesson.noidung" name="ndung" placeholder="vsdsdfsfafqwfq">
    </div>
  </div>
</form>
<style>
  .addform{
    width: 50%;
    margin: 10% auto;
  }
</style>
